<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./phpunit_bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./integration/</directory>
        </testsuite>
        <testsuite name="unit+integration">
            <directory>./unit/</directory>
            <directory>./integration/</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./functional/</directory>
        </testsuite>
        <testsuite name="admin+unit">
            <directory>./unit/admin/</directory>
        </testsuite>

    </testsuites>
    <listeners>
        <listener class="tests\base\TestListener" file="./base/TestListener.php" />
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../apps</directory>
            <exclude>
                <file>../apps/cli.php</file>
                <file>../apps/admin/Module.php</file>
                <file>../apps/web/Module.php</file>
                <directory>../apps/web/migrations</directory>
                <directory>../apps/web/migrations_data</directory>
                <directory>../apps/shareconfig</directory>
                <directory>../apps/admin/interfaces</directory>
                <directory>../apps/web/interfaces</directory>
                <directory>../apps/admin/views</directory>
                <directory>../apps/web/views</directory>
                <directory>../apps/web/assets</directory>
                <directory>../apps/web/templateHelpers</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>