@font-face {
	font-family: 'Euromillions';
	src:url('fonts/Euromillions.eot?-wmyhg5');
	src:url('fonts/Euromillions.eot?#iefix-wmyhg5') format('embedded-opentype'),
		url('fonts/Euromillions.woff?-wmyhg5') format('woff'),
		url('fonts/Euromillions.ttf?-wmyhg5') format('truetype'),
		url('fonts/Euromillions.svg?-wmyhg5#Euromillions') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Euromillions';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-playstar-11:before {
	content: "\e600";
}
.icon-playstar-10:before {
	content: "\e601";
}
.icon-playstar-9:before {
	content: "\e602";
}
.icon-playstar-8:before {
	content: "\e603";
}
.icon-playstar-7:before {
	content: "\e604";
}
.icon-playstar-6:before {
	content: "\e605";
}
.icon-playstar-5:before {
	content: "\e606";
}
.icon-playstar-4:before {
	content: "\e607";
}
.icon-playstar-3:before {
	content: "\e608";
}
.icon-playstar-2:before {
	content: "\e609";
}
.icon-playstar-1:before {
	content: "\e60a";
}
.icon-playstar-11.selected:before {
	content: "\e60b";
}
.icon-playstar-10.selected:before {
	content: "\e60c";
}
.icon-playstar-9.selected:before {
	content: "\e60d";
}
.icon-playstar-8.selected:before {
	content: "\e60e";
}
.icon-playstar-7.selected:before {
	content: "\e60f";
}
.icon-playstar-6.selected:before {
	content: "\e610";
}
.icon-playstar-5.selected:before {
	content: "\e611";
}
.icon-playstar-4.selected:before {
	content: "\e612";
}
.icon-playstar-3.selected:before {
	content: "\e613";
}
.icon-playstar-2.selected:before {
	content: "\e614";
}
.icon-playstar-1.selected:before {
	content: "\e615";
}
.icon-drawnumber-1:before {
	content: "\e616";
}
.icon-drawnumber-2:before {
	content: "\e617";
}
.icon-drawnumber-3:before {
	content: "\e618";
}
.icon-drawnumber-4:before {
	content: "\e619";
}
.icon-drawnumber-5:before {
	content: "\e61a";
}
.icon-drawnumber-6:before {
	content: "\e61b";
}
.icon-drawnumber-7:before {
	content: "\e61c";
}
.icon-drawnumber-8:before {
	content: "\e61d";
}
.icon-drawnumber-9:before {
	content: "\e61e";
}
.icon-drawnumber-10:before {
	content: "\e61f";
}
.icon-drawnumber-11:before {
	content: "\e620";
}
.icon-drawnumber-12:before {
	content: "\e621";
}
.icon-drawnumber-13:before {
	content: "\e622";
}
.icon-drawnumber-14:before {
	content: "\e623";
}
.icon-drawnumber-15:before {
	content: "\e624";
}
.icon-drawnumber-16:before {
	content: "\e625";
}
.icon-drawnumber-17:before {
	content: "\e626";
}
.icon-drawnumber-18:before {
	content: "\e627";
}
.icon-drawnumber-19:before {
	content: "\e628";
}
.icon-drawnumber-20:before {
	content: "\e629";
}
.icon-drawnumber-21:before {
	content: "\e62a";
}
.icon-drawnumber-22:before {
	content: "\e62b";
}
.icon-drawnumber-23:before {
	content: "\e62c";
}
.icon-drawnumber-24:before {
	content: "\e62d";
}
.icon-drawnumber-25:before {
	content: "\e62e";
}
.icon-drawnumber-26:before {
	content: "\e62f";
}
.icon-drawnumber-27:before {
	content: "\e630";
}
.icon-drawnumber-28:before {
	content: "\e631";
}
.icon-drawnumber-29:before {
	content: "\e632";
}
.icon-drawnumber-30:before {
	content: "\e633";
}
.icon-drawnumber-31:before {
	content: "\e634";
}
.icon-drawnumber-32:before {
	content: "\e635";
}
.icon-drawnumber-33:before {
	content: "\e636";
}
.icon-drawnumber-34:before {
	content: "\e637";
}
.icon-drawnumber-35:before {
	content: "\e638";
}
.icon-drawnumber-36:before {
	content: "\e639";
}
.icon-drawnumber-37:before {
	content: "\e63a";
}
.icon-drawnumber-38:before {
	content: "\e63b";
}
.icon-drawnumber-39:before {
	content: "\e63c";
}
.icon-drawnumber-40:before {
	content: "\e63d";
}
.icon-drawnumber-41:before {
	content: "\e63e";
}
.icon-drawnumber-42:before {
	content: "\e63f";
}
.icon-drawnumber-43:before {
	content: "\e640";
}
.icon-drawnumber-44:before {
	content: "\e641";
}
.icon-drawnumber-45:before {
	content: "\e642";
}
.icon-drawnumber-46:before {
	content: "\e643";
}
.icon-drawnumber-47:before {
	content: "\e644";
}
.icon-drawnumber-48:before {
	content: "\e645";
}
.icon-drawnumber-49:before {
	content: "\e646";
}
.icon-drawnumber-50:before {
	content: "\e647";
}
.icon-playnumber-1.selected:before {
	content: "\e648";
}
.icon-playnumber-1:before {
	content: "\e649";
}
.icon-playnumber-2.selected:before {
	content: "\e64a";
}
.icon-playnumber-2:before {
	content: "\e64b";
}
.icon-playnumber-3.selected:before {
	content: "\e64c";
}
.icon-playnumber-3:before {
	content: "\e64d";
}
.icon-playnumber-4.selected:before {
	content: "\e64e";
}
.icon-playnumber-4:before {
	content: "\e64f";
}
.icon-playnumber-5.selected:before {
	content: "\e650";
}
.icon-playnumber-5:before {
	content: "\e651";
}
.icon-playnumber-6.selected:before {
	content: "\e652";
}
.icon-playnumber-6:before {
	content: "\e653";
}
.icon-playnumber-7.selected:before {
	content: "\e654";
}
.icon-playnumber-7:before {
	content: "\e655";
}
.icon-playnumber-8.selected:before {
	content: "\e656";
}
.icon-playnumber-8:before {
	content: "\e657";
}
.icon-playnumber-9.selected:before {
	content: "\e658";
}
.icon-playnumber-9:before {
	content: "\e659";
}
.icon-playnumber-10.selected:before {
	content: "\e65a";
}
.icon-playnumber-10:before {
	content: "\e65b";
}
.icon-playnumber-11.selected:before {
	content: "\e65c";
}
.icon-playnumber-11:before {
	content: "\e65d";
}
.icon-playnumber-12.selected:before {
	content: "\e65e";
}
.icon-playnumber-12:before {
	content: "\e65f";
}
.icon-playnumber-13.selected:before {
	content: "\e660";
}
.icon-playnumber-13:before {
	content: "\e661";
}
.icon-playnumber-14.selected:before {
	content: "\e662";
}
.icon-playnumber-14:before {
	content: "\e663";
}
.icon-playnumber-15.selected:before {
	content: "\e664";
}
.icon-playnumber-15:before {
	content: "\e665";
}
.icon-playnumber-16.selected:before {
	content: "\e666";
}
.icon-playnumber-16:before {
	content: "\e667";
}
.icon-playnumber-17.selected:before {
	content: "\e668";
}
.icon-playnumber-17:before {
	content: "\e669";
}
.icon-playnumber-18.selected:before {
	content: "\e66a";
}
.icon-playnumber-18:before {
	content: "\e66b";
}
.icon-playnumber-19.selected:before {
	content: "\e66c";
}
.icon-playnumber-19:before {
	content: "\e66d";
}
.icon-playnumber-20.selected:before {
	content: "\e66e";
}
.icon-playnumber-20:before {
	content: "\e66f";
}
.icon-playnumber-21.selected:before {
	content: "\e670";
}
.icon-playnumber-21:before {
	content: "\e671";
}
.icon-playnumber-22.selected:before {
	content: "\e672";
}
.icon-playnumber-22:before {
	content: "\e673";
}
.icon-playnumber-23.selected:before {
	content: "\e674";
}
.icon-playnumber-23:before {
	content: "\e675";
}
.icon-playnumber-24.selected:before {
	content: "\e676";
}
.icon-playnumber-24:before {
	content: "\e677";
}
.icon-playnumber-25.selected:before {
	content: "\e678";
}
.icon-playnumber-25:before {
	content: "\e679";
}
.icon-playnumber-26.selected:before {
	content: "\e67a";
}
.icon-playnumber-26:before {
	content: "\e67b";
}
.icon-playnumber-27.selected:before {
	content: "\e67c";
}
.icon-playnumber-27:before {
	content: "\e67d";
}
.icon-playnumber-28.selected:before {
	content: "\e67e";
}
.icon-playnumber-28:before {
	content: "\e67f";
}
.icon-playnumber-29.selected:before {
	content: "\e680";
}
.icon-playnumber-29:before {
	content: "\e681";
}
.icon-playnumber-30.selected:before {
	content: "\e682";
}
.icon-playnumber-30:before {
	content: "\e683";
}
.icon-playnumber-31.selected:before {
	content: "\e684";
}
.icon-playnumber-31:before {
	content: "\e685";
}
.icon-playnumber-32.selected:before {
	content: "\e686";
}
.icon-playnumber-32:before {
	content: "\e687";
}
.icon-playnumber-33.selected:before {
	content: "\e688";
}
.icon-playnumber-33:before {
	content: "\e689";
}
.icon-playnumber-34.selected:before {
	content: "\e68a";
}
.icon-playnumber-34:before {
	content: "\e68b";
}
.icon-playnumber-35.selected:before {
	content: "\e68c";
}
.icon-playnumber-35:before {
	content: "\e68d";
}
.icon-playnumber-36.selected:before {
	content: "\e68e";
}
.icon-playnumber-36:before {
	content: "\e68f";
}
.icon-playnumber-37.selected:before {
	content: "\e690";
}
.icon-playnumber-37:before {
	content: "\e691";
}
.icon-playnumber-38.selected:before {
	content: "\e692";
}
.icon-playnumber-38:before {
	content: "\e693";
}
.icon-playnumber-39.selected:before {
	content: "\e694";
}
.icon-playnumber-39:before {
	content: "\e695";
}
.icon-playnumber-40.selected:before {
	content: "\e696";
}
.icon-playnumber-40:before {
	content: "\e697";
}
.icon-playnumber-41.selected:before {
	content: "\e698";
}
.icon-playnumber-41:before {
	content: "\e699";
}
.icon-playnumber-42.selected:before {
	content: "\e69a";
}
.icon-playnumber-42:before {
	content: "\e69b";
}
.icon-playnumber-43.selected:before {
	content: "\e69c";
}
.icon-playnumber-43:before {
	content: "\e69d";
}
.icon-playnumber-44.selected:before {
	content: "\e69e";
}
.icon-playnumber-44:before {
	content: "\e69f";
}
.icon-playnumber-45.selected:before {
	content: "\e6a0";
}
.icon-playnumber-45:before {
	content: "\e6a1";
}
.icon-playnumber-46.selected:before {
	content: "\e6a2";
}
.icon-playnumber-46:before {
	content: "\e6a3";
}
.icon-playnumber-47.selected:before {
	content: "\e6a4";
}
.icon-playnumber-47:before {
	content: "\e6a5";
}
.icon-playnumber-48.selected:before {
	content: "\e6a6";
}
.icon-playnumber-48:before {
	content: "\e6a7";
}
.icon-playnumber-49.selected:before {
	content: "\e6a8";
}
.icon-playnumber-49:before {
	content: "\e6a9";
}
.icon-playnumber-50.selected:before {
	content: "\e6aa";
}
.icon-playnumber-50:before {
	content: "\e6ab";
}
.icon-options:before {
	content: "\e6ac";
}
.icon-plus:before {
	content: "\e6ad";
}
.icon-help:before {
	content: "\e6ae";
}
.icon-cross:before {
	content: "\e6af";
}
.icon-crossover:before {
	content: "\e6b0";
}
.icon-multiple:before {
	content: "\e6b1";
}
.icon-check:before {
	content: "\e6b2";
}
.icon-product-type-em-single:before {
	content: "\e6b3";
}
.icon-product-type-em-multiple:before {
	content: "\e6b4";
}
.icon-date:before {
	content: "\e6b5";
}
.icon-cart:before {
	content: "\e6b6";
}
.icon-zoom-in:before {
	content: "\e6b7";
}
.icon-zoom-out:before {
	content: "\e6b8";
}
.icon-warning-sign:before {
	content: "\e6b9";
}
.icon-facebook:before {
	content: "\e6ba";
}
.icon-twitter:before {
	content: "\e6bb";
}
.icon-gplus:before {
	content: "\e6bc";
}
.icon-reddit:before {
	content: "\e6bd";
}
.icon-stumbleupon:before {
	content: "\e6be";
}
.icon-back-arrow:before {
	content: "\e6bf";
}
.icon-draws:before {
	content: "\e6c0";
}
.icon-label:before {
	content: "\e6c1";
}
.icon-spiderpig:before {
	content: "\e6c2";
}
.icon-drawcross:before {
	content: "\e6c3";
}
.icon-star-2x:before {
	content: "\e6c4";
}
.icon-star-3x:before {
	content: "\e6c5";
}
.icon-star-4x:before {
	content: "\e6c6";
}
.icon-star-5x:before {
	content: "\e6c7";
}
