.vagrant
.idea
phpinfo.php
src/app/assets/*
!src/app/assets/README.md
src/logs/*
!src/logs/README.md
!src/app/assets/compiled_templates
src/app/assets/compiled_templates/*
!src/app/assets/compiled_templates/README.md
src/app/logs/*
!src/app/logs/README.md
src/apps/web/assets/*
!src/apps/web/assets/compiled_templates
src/apps/web/assets/compiled_templates/*
!src/apps/web/assets/compiled_templates/README.md
src/apps/web/logs/*
!src/apps/web/logs/README.md
src/apps/admin/assets/*
!src/apps/admin/assets/compiled_templates
src/apps/admin/assets/compiled_templates/*
!src/apps/admin/assets/compiled_templates/README.md
src/apps/admin/logs/*
!src/apps/admin/logs/README.md
src/vendor/*
src/node_modules/*
src/.phalcon/*
src/.sass-cache/*
!src/.sass-cache/README.md
dev-logs/*
ansible/roles/external/*
src/npm-debug.log.373b530092219eef36e49327ab8fb1b2
src/npm-debug.log.94b92039b3f6b6d318573a07dcc15cd4
