.vagrant
.idea
phpinfo.php
src/app/assets/*
!src/app/assets/README.md
src/app/logs/*
!src/app/logs/README.md
src/vendor/*
!src/app/assets/compiled_templates
src/app/assets/compiled_templates/*
src/.phalcon/*
src/.sass-cache/*
!src/.sass-cache/README.md
dev-logs/*