/src/c3.php
/src/tests/_output/*
.vagrant
.idea
phpinfo.php
src/app/assets/*
!src/app/assets/README.md
src/logs/*
!src/logs/README.md
!src/app/assets/compiled_templates
src/app/assets/compiled_templates/*
!src/app/assets/compiled_templates/README.md
src/app/logs/*
!src/app/logs/README.md
src/apps/web/assets/*
!src/apps/web/assets/compiled_templates
src/apps/web/assets/compiled_templates/*
!src/apps/web/assets/compiled_templates/README.md
src/apps/web/logs/*
!src/apps/web/logs/README.md
src/apps/admin/assets/*
!src/apps/admin/assets/compiled_templates
src/apps/admin/assets/compiled_templates/*
!src/apps/admin/assets/compiled_templates/README.md
src/apps/admin/logs/*
!src/apps/admin/logs/README.md
src/vendor/*
src/.phalcon/*
src/.sass-cache/*
!src/.sass-cache/README.md
ansible/roles/external/*
/src/react/node_modules
/src/public/w/js/react/*
!/src/public/w/js/react/README.md
/src/react/npm-debug.log*
/src/public/w/js/*min.js
/src/grunt/node_modules
/src/angular-admin
/src/public/a/js/angular-admin/node_modules
/src/public/a/js/angular-admin/typings
/src/public/a/js/angular-admin/npm-debug.log*
/src/angular-admin/node_modules
/src/angular-admin/typings
/src/angular-admin/npm-debug.log*
/src/data/geoipdatabase/GeoIP.dat
/src/data/geoipdatabase/GeoIPv6.dat
/src/public/a/js/angular-admin/app/app.component.js.map
/src/public/a/js/angular-admin/app/components/add-language.component.js.map
/src/public/a/js/angular-admin/app/components/contacto.component.js.map
/src/public/a/js/angular-admin/app/components/edit-language.component.js.map
/src/public/a/js/angular-admin/app/components/list-language.component.js.map
/src/public/a/js/angular-admin/app/components/list-translation.component.js.map
/src/public/a/js/angular-admin/app/config/config.js.map
/src/public/a/js/angular-admin/app/main.js.map
/src/public/a/js/angular-admin/app/model/language.js.map
/src/public/a/js/angular-admin/app/services/auth.service.js.map
/src/public/a/js/angular-admin/app/services/language.service.js.map
/src/public/a/js/angular-admin/app/services/translation.service.js.map
