/*
Error: Invalid US-ASCII character "\xC3"
        on line 123 of /src/compass_web/sass/cart.scss

118:   .box-total-upper{
119:     padding:8px 10px;
120:     font-size:90%;
121:     font-style: normal;
122:     .total{
123:       //las cuales jamás han sufrido de violencia de género. Tienes una tendencia a generalizar que asusta.
124:       float:right; font-weight:600;
125:       text-align: right;
126:       .txt{display:inline-block;}
127:     }
128:   }

Backtrace:
/src/compass_web/sass/cart.scss:123
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:1320:in `block in find_encoding_error'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:1319:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:1319:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:1319:in `find_encoding_error'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/util.rb:896:in `check_sass_encoding'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:423:in `check_encoding!'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:379:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/var/lib/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xC3\"\A         on line 123 of /src/compass_web/sass/cart.scss\A \A 118:   .box-total-upper{\A 119:     padding:8px 10px;\A 120:     font-size:90%;\A 121:     font-style: normal;\A 122:     .total{\A 123:       //las cuales jamás han sufrido de violencia de género. Tienes una tendencia a generalizar que asusta.\A 124:       float:right; font-weight:600;\A 125:       text-align: right;\A 126:       .txt{display:inline-block;}\A 127:     }\A 128:   }"; }
