#preamble img {display:none;}
#preamble {min-height: 10px!important;margin: 10px 0;}


body {background-color: #fffcf1;text-align:left;padding-top: 144px;padding-bottom: 20px; font-size: 14px;font-family: 'Oswald', 'Helvetica', 'Arial';font-weight:300;color: #3c3c3b;/* 60px to make the container go all the way to the bottom of the topbar */ }
body.s-device {padding-top: 60px;}
body {min-width:328px;}
.clear {clear:both;}
.container {text-align:left; font-size: 14px;}
a {cursor:pointer;}
.container {width:680px;min-width: 320px;max-width: 100%;}
.s-device .container {padding: 0 4px;}

.visible-s-device {display:none!important;}

.s-device .visible-s-device {display:block!important;}
.s-device tr.visible-s-device {display:table-row!important;}
.s-device .hidden-s-device {display:none!important;}

.modal-controls {text-align:center;}

#loader {position: fixed; top:50%;left: 50%; margin-left:-40px;margin-top:-15px;width: 80px;height: 30px;background:#fff url(../img/icons/ajax-loader.gif) center center no-repeat;border:1px solid #d2d2d2;
-webkit-box-shadow: 0 3px 10px 2px #444444; /* WebKit */-moz-box-shadow: 0 3px 10px 2px #444444; /* Firefox */box-shadow: 0 3px 10px 2px #444444; /* Standard */ border-radius: 5px;}

.navbar-default {background-color: #fff;}
.navbar.navbar-fixed-top .menuwrapper {max-width: 1400px;min-width: 320px;padding: 0 10px;position:relative;margin:auto;}
.navbar.navbar-fixed-top .nav a,.navbar.navbar-fixed-top a.navbar-brand,.navbar-default p.navbar-text,.navbar.navbar-fixed-top .moselect a,#shoppingCart a {color:#3c3c3b;}
.navbar.navbar-fixed-top .navbar-toggle {margin-top:4px;margin-bottom:4px;padding:8px;}
.navbar.navbar-fixed-top .navbar-right .nav li {float:left;}
.navbar.navbar-fixed-top .navbar-right .nav li a {padding: 11px 10px;display:block;}
.navbar-brand {padding: 10px 20px 10px 40px; height: 40px; background: url(../img/logo/logosmall.png) 5px 5px no-repeat;font-weight:400;}
.navbar {min-height:42px;}


#navigation {max-width: 640px;margin: auto;}
#navigation ul {margin-left: -18px;}
#navigation li {margin: 0 12px;font-weight:400;}

#navigation li a,.navbar-right .nav li a {transition: background .25s ease-in-out; -moz-transition: background .25s ease-in-out; -webkit-transition: background .25s ease-in-out;}

#navigation li.active a {background:#fff;color: #009c9f;}
#navigation li a:hover, .navbar-right .nav li a:hover {background-color: #E7E7E7;}
#navigation li.dropdown li {margin: 0;}

table th {font-weight: 400;}
.m-device #navigation li,.s-device #navigation li {padding: 0 4px;margin:0;}
.m-device #navigation {max-width:100%;}
.m-device .navbar-brand,.s-device .navbar-brand {width: 40px;}
.m-device .navbar-brand span,.s-device .navbar-brand span {display:none;}
.m-device .navbar-right,.s-device .navbar-right {position: absolute; right: 0; top: 0;/*width:332px;*/}
.m-device .navbar-right li,.s-device .navbar-right li {float:left;}


.alert {font-family:'Oswald','Helvetica', 'Arial';text-align:center;}
/*.alert.alert-info {border-color:#30a8c0;background-color:#e2f4fe;}
.alert.alert-info a{color:#31708F;}
.alert.alert-danger {border-color:#eda99c;background-color:#f7deda;}
.alert.alert-danger a {color:#A94442;}*/

.alert.alert-info,
.alert.alert-danger {border-color:#3c3c3b;background-color:#fff;}

.alert.alert-info a {color:#009c9f;}
.alert.alert-danger a {color:#e85c41;}


/**
 * OWN Color Styles and Bootstrap  stuff
 **/
.btn {-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;transition: background .25s ease-in-out; -moz-transition: background .25s ease-in-out; -webkit-transition: background .25s ease-in-out;}
.btn.eur-primary, .btn.btn-primary  {color:#fff;border-color:#e85c3b;background-color: #e85c3b!important; }
.btn.eur-primary:hover,.btn.btn-primary:hover {background-color: #db3a1b!important; }

.btn.eur-secondary {color:#fff;background: #02b3b6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyYjNiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzljOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #02b3b6 0%, #0c9c9e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02b3b6), color-stop(100%,#0c9c9e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #02b3b6 0%,#0c9c9e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #02b3b6 0%,#0c9c9e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #02b3b6 0%,#0c9c9e 100%); /* IE10+ */
background: linear-gradient(to bottom, #02b3b6 0%,#0c9c9e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b3b6', endColorstr='#0c9c9e',GradientType=0 ); /* IE6-8 */}
.btn.eur-secondary:hover {opacity: 0.9;}

.btn-group.eur-secondary .btn {color:#777777;}
.btn-group.eur-secondary .btn.selected {background-color:#02b3b6;color:#fff;}

.nav a { color: #3c3c3b;}
a, a:hover,.color, .navbar.navbar-fixed-top .nav a.color { color: #009c9f;}
.color2 { color: #db3a1b;}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-right a.btn { margin:6px 0px 4px 0px;font-weight:300;padding-top: 2px!important;padding-bottom:3px!important;font-weight:400;}
.navbar-right a.btn.eur-primary{color:#fff!important;}
.form-control:focus { border-color: #009c9f;}

select.input-xs {height:24px;line-height:22px; border-radius: 3px; font-size: 12px; line-height: 1.2; padding: 3px 5px;}
select {border:1px solid #d2d2d2;border-radius:4px;text-align:right;}
select option {text-align:left;}

h1, h2, h3, h4, h5, h6 {color: #009c9f;}
h1 {text-transform: uppercase; text-align:center;font-size: 32pt;font-family: 'Oswald','Helvetica', 'Arial';}
h2 {text-align:center;font-size: 14.4pt;font-style:italic;margin-bottom:5px;margin-top:12px;} /* bauer neu bold italic */
h4 {font-size:11.6pt;margin: 0 0 10px 0 ;padding: 0;text-align:center;font-weight:400;}
h1.error {font-size:24pt;color:#dd543e;}
.modal-content h1,.modal-content  h2,.modal-content  h3,.modal-content  h4,.modal-content  h5,.modal-content  h6 {margin-top: 0;}
.s-device h1 {font-size: 24pt;}
.s-device img {max-width:96%;}

.box {position:relative;border: 1px solid #d2d2d2;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;padding: 10px;margin: 0 0px 10px 0px;background-color:#fff;}
.box50 {width: 304px;}
.s-device .box50 {width: 96%;}
.box25 {width: 149px;}

.clear {clear:both;display:block;height:1px;}
/* own checkbox styles */
label.checkbox input, label.radio input {display: none;}
label.checkbox {cursor: pointer;background: url(../img/icons/checkboxes.png) left -4px no-repeat;padding: 2px 0 0 26px;min-height: 22px;line-height:22px;}
label.checkbox:hover {opacity: 0.8;}
label.checkbox.checked {background-position:left -118px;}

.form-group {margin-bottom:10px;}
.form-actions {margin: 30px 0 10px 0;}

/* own radio styles */
label.radio input, label.radio input {display: none;}
label.radio {cursor: pointer;background: url(../img/icons/checkboxes.png) left -4px no-repeat;min-height: 30px;}
label.radio:hover {opacity: 0.8;}
label.radio.checked {background-position:left -118px;}
label.radio {cursor: pointer;background-image: url(../img/icons/checkboxes.png) left top no-repeat;}

.form-inline label.radio, label.radio,.form-inline label.checkbox, label.checkbox {padding: 2px 0 0 26px;margin: 0;font-weight: 400;}

/*.form-group.has-error .help-block {margin: 3px 0 0 0;background-color:#f8dfd8;border: 1px #eeaa9f solid;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.form-group.has-error .help-block ul {padding-left: 12px;margin: 4px 4px 4px 8px;}*/
form ul.errors {color:#eeaa9f;}

#switchlang .moselect {height: 40px;}
#switchlang .moselect a.link { display:block;height:40px;text-transform: uppercase;padding: 11px 10px;}

.moselect.dropdown {display:inline-block;}
.moselect.dropdown a {cursor:pointer;}
.moselect.dropdown a span {margin: 0 0 0 6px;}
.moselect.dropdown a.select {border:1px solid #02b3b6;background-color:#02b3b6;color:#fff;padding: 2px 6px;border-radius: 4px;}
.moselect.dropdown a.select:hover, .moselect.dropdown a.select:active  {text-decoration:none;}
.moselect.dropdown .dropdown-menu {z-index:20000;}
.moselect.dropdown .dropdown-menu .dropdown-header {background-color:#f9f9f9;border-bottom:1px solid #e3e3e3;padding: 6px 20px;margin-top:-6px;font-weight:400;text-align:center;width:100%!important;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.moselect.dropdown ul.dropdown-menu li {float:none;width:100%;}
.moselect.dropdown .dropdown-menu.twocols li {width:49%;display:inline-block;}
.moselect.dropdown .dropdown-menu.twocols li a {padding: 3px 10px;text-align:center;}

.s-device .moselect.dropdown .dropdown-menu.twocols {width:220px;}
.s-device .moselect.dropdown .dropdown-menu.twocols li {width:32%;display:inline-block;}
.s-device .moselect.dropdown .dropdown-menu.twocols li a {padding: 3px 10px;text-align:center;border-right:0px!important;}

.moselect.default {display:inline-block;position:relative;}
.moselect.default a,.moselect.default select {cursor:pointer;}
.moselect.default a.select {border:1px solid #d2d2d2;background-color:#fff;color:#000;padding: 2px 6px;border-radius: 4px;text-align: right;}
.moselect.default a.select .caret {margin-left:10px;}
.moselect.default a.select:hover, .moselect.dropdown a.select:active  {text-decoration:none;}
.moselect a.select,.moselect a.link {display:inline-block;}

/**
 * Pagination
 */
#paginator {text-align:center;}
#paginator a {color:#009C9F;}
#paginator .active a {color:#fff;}
#paginator li.active a {background-color:#009C9F;}

/**
 * Modals
 */
.modal-backdrop { background-color: #fff;}
.modal-dialog .modal-content {border:1px solid #009c9f;}
.modal-dialog .modal-header {border-bottom:0;text-align:center;height:26px;padding: 5px 5px;}
.modal-dialog .modal-body {padding-top: 0px;}
.modal-dialog form .buttonwrapper {text-align:center;}
.modal-dialog form .buttonwrapper button {min-width: 100px;}
.modal-dialog .modal-header button.close {font-size:18px;}
.modal-dialog .form-actions {text-align:center;}
.modal-dialog h1 { font-size: 18pt;}
.modal-dialog .modal-header .close {color:#02B3B6;opacity:1;}
.modal-dialog .modal-header .close:hover {opacity:0.5;}


.systemMessage .icon {text-align:center;margin: 0 0 20px;}
.systemMessage .icon i {font-size:66px;width:66px;}
.systemMessage  .msgText {font-size:18px;text-align:center;}
/**
 * ICONS
 */
.dot-icon {background: transparent url(../img/icons/dots.png) left bottom no-repeat;}
.dot-icon {width:8px; height: 8px;}
.dot-icon.active, .dot-icon:hover,.active .dot-icon  {background-position:left top;}

.reasons {background: transparent url(../img/icons/reasons.png) left top no-repeat;}
.reasons.price,li.price  {background-position: left top;}
.reasons.account,li.account  {background-position: left -60px;}
.reasons.account,li.piggy  {background-position: left -116px;}
.reasons.account,li.ticket  {background-position: left -176px;}
.reasons.account,li.syndicates  {background-position: left -230px;}
.reasons.account,li.support  {background-position: left -288px;}

/* drawnumber raus */
.drawnumber, .drawstar {font-size: 32px;}
.drawstar { color: #db3a1b;}

.playnumber {cursor:pointer;font-size:25px;}
.playnumber:hover,.playnumber.selected {color: #009c9f;}

.playstar {cursor:pointer;font-size:29px;}
.playstar:hover,.playstar.selected {color:#db3a1b;}

/* Font Icons */
.icon-cart {display:inline-block;}

.icon-chkstyle  {font-size:25px;display:inline-block;top:-1px;}

.product-type-icon  {width:29px;height:19px;display:inline-block;background: transparent url(../img/icons/product-type-icons.png) left top no-repeat;}
.product-type-icon.single {background-position:left top;}
.product-type-icon.multi {background-position:left bottom;}



.social-big {width:51px;height:51px;font-size:52px;display:inline-block;color:#c8caca;}
.social-small {width:25px;height:25px;font-size:25px;display:inline-block;color:#c8caca;}

.icon-facebook:hover {color: #3b5998;}
.icon-twitter:hover {color: #00a0d1;}
.icon-gplus:hover {color: #dd4b39;}
.icon-reddit:hover {color: #cee3f8;}
.icon-stumbleupon:hover {color: #eb4924;}


/* Currencys */
.moselect.dropdown .dropdown-menu.twocols li a.currencybg.even {border-right:1px solid #e3e3e3;padding: 5px 4px 5px 40px;}
.moselect.dropdown .dropdown-menu.twocols li a.currencybg.odd {padding: 5px 4px 5px 40px;}
.moselect.dropdown .dropdown-menu.twocols li a.currencybg {background-image: url(../img/icons/currency.png);background-repeat:no-repeat;text-align:left;}
.currency-AUD, .currency-USD, .currency-CAD, .currency-HKD,.currency-MXN,.currency-NZD {background-position: 10px -15px;} /* +4  -4px */
.currency-BGN {background-position: 10px -78px;}
.currency-BRL {background-position: 10px -141px;}
.currency-CHF {background-position: 10px -204px;}
.currency-JPY {background-position: 10px -267px;}
.currency-CNY {background-position: 10px -1474px;}

.currency-CZK {background-position: 10px -330px;}
.currency-DKK,.currency-NOK,.currency-SEK {background-position: 10px -394px;}
.currency-EUR {background-position: 10px -456px;}
.currency-GBP {background-position: 10px -519px;}

.currency-HRK {background-position: 10px -582px;}
.currency-HUF {background-position: 10px -645px;}
.currency-IDR {background-position: 10px -708px;}
.currency-INR {background-position: 10px -771px;}

.currency-KRW {background-position: 10px -834px;}
.currency-LTL {background-position: 10px -897px;}
.currency-MYR {background-position: 10px -960px;}
.currency-PHP {background-position: 10px -1023px;}

.currency-PLN {background-position: 10px -1086px;}
.currency-RON {background-position: 10px -1149px;}
.currency-RUB {background-position: 10px -1212px;}
.currency-SGD {background-position: 10px -1275px;}
.currency-THB  {background-position: 10px -1338px;}

.currency-TRY {background-position: 10px -1338px;}
.currency-ZAR {background-position: 10px -1401px;}



/**
 * Elements
 */
#slideOut {height:82px;width:100%;padding:6px 46px 0 46px;background: transparent url(../img/backgrounds/slideout.png) left top;color:#fff;font-size:10pt;}

.m-device #slideOut {padding: 4px 10px 0;}
.s-device #slideOut {display:none;}

#slideOut .wrapper {position:relative;width:100%;height: 100%;}
#slideOut .pe {padding: 0;margin:0;font-weight:400;text-align:center;height:27px;}

#slideOut .jackpot {width: 100%;text-align:center;}
#slideOut .jackpot .stro {font-size:25pt;line-height:26pt;font-weight:400;}

.m-device #slideOut .jackpot .stro {font-size:19pt;line-height:26pt;}

#slideOut .the-right {text-align:center;position:absolute; right: 0; top:0;}

#slideOut #timer {width:220px;height:74px;position:absolute; left: -8px; top:0;}
#slideOut #timer .group {float:left;text-align:center;margin: 2px 4px 0 4px;}
#slideOut #timer .tlabel {width:100%;display:block;line-height:10pt;font-size:9pt;}
#slideOut #timer .days.group {width:26px;}
#slideOut #timer .hours.group {width:48px;}
#slideOut #timer .minutes.group {width:48px;}
#slideOut #timer .seconds.group {width:48px;}
#slideOut #timer .pe {height:25px;}
#slideOut #timer.final .group .cell {color:#e85c3b;}

#slideOut #timer .cell {display:block;color: #000;font-size:24px;width:20px;height:30px;background:#fff;border-radius:3px;line-height:28px;}
#slideOut #timer #days.cell {margin:auto;}
/*#slideOut #timer .seconds {display:none;} */
#hourH, #minH {float:left;width:20px;margin: 0 2px;}
#hourL, #minL {float:left;width:20px;margin: 0 2px;}
#secH, #secL {float:left;width:20px;margin: 0 2px;}


#shoppingCart a {padding-top:7px!important;padding: 7px 15px 20px 15px;font-size:10px;background:transparent url(../img/icons/cart.png) 7px 18px no-repeat;}

#cart .product-type-icon {float:left;margin:0 4px 0 0;}
#cart table tbody td, #cart table th {border:0px;}
#cart table {margin-bottom:10px;}
#cart table tfoot th {border-top:1px #d8d8d8 solid;}
#cart table tbody td, #cart table th {padding: 8px;}
#cart .submit {padding: 10px;}
#cart h4 {margin: 0 0 20px 0;}
#cart .draw {width:100%;height:30px;clear:both;display:block;margin: 0 0 5px 0;}
#cart .draw .drawnumber,#cart .draw .drawstar {font-size: 24px;}
.s-device #cart .box {padding:0;border:0;box-shadow:none;}

/**
*	Footer
**/

#footer {background-color: #fff;border-top: 1px solid #d4d4d4;padding: 10px 0 0 0;margin: 200px 0 0 0; }
#footer ul {padding: 0;list-style:none;}
#footer a {color:#3c3c3b;}
#footer .navigation .w20,#footer .navigation .w30 {float:left;padding: 10px 20px;}
#footer .navigation .w20 {width:20%;}
#footer .navigation .w30 {width:30%;}
#footer .navigation ul {padding-top: 10px;}

#footer .wrapper {padding: 10px;border-top: 1px solid #d4d4d4;margin: 10px 10px 20px 10px;border-bottom: 1px solid #d4d4d4;}

#footer .logos {float:left;}
#footer .logos div {display:inline;}

#footer .socialbox {width: 200px;float:right;}
#footer .socialbox .link {width:20%;text-align:center;float:left;}
#footer .socialbox a {text-decoration: none;outline:none;}

#footer .billers {padding: 10px 0 0 10px;}
#footer .copyright {padding: 0 20px;}

.s-device #footer .navigation {width: 280px;margin:auto;}
.s-device #footer .w20,.s-device #footer .w30 {width: 140px;}

.s-device #footer .wrapper {margin:10px 0;padding:10px 0;}
.s-device #footer .logos {float:none;width: 290px;margin:auto;padding: 10px 0;}
.s-device #footer .logos .geotrust img {width: 94px;}
.s-device #footer .logos .gambleaware img {width: 190px;}
.s-device #footer .socialbox {clear: both;margin:0 auto;float:none;padding: 10px 0;}
.s-device #footer .billers {width:100%;text-align:center;padding: 10px 0;}
/**
 * HOME
 **/
#home .page {padding: 144px 0 0 0;font-size:15px;min-height: 580px;}
.s-device #home .page {padding: 20px 0 0 0;}
#home .dotmenu {width: 8px; height:120px; position: fixed;top:50%;right: 40px;margin-top:-20px; }
#home h1 {margin-bottom: 32px;margin-top:0;}

.s-device #home .dotmenu,.m-device #home .dotmenu {right: 20px;}
#home .dotmenu ul {padding:0;list-style: none;z-index:100;}
#home .dotmenu li {margin: 15px 0 0 0;}
#home .dotmenu li:hover,#home .dotmenu a:hover, #home .dotmenu a:focus  {background-color:transparent;}
#home .dotmenu a {cursor:pointer;text-decoration:none;outline:none;padding:0;}

#home #page1 img {width: 100%;margin: 0 0 20px 0;}
#home #page1 .homebutton {float: right;margin: 0 0 10px 0;}
#home #page1 .homebutton a {width:176px;}
#home #page1 .hometext {float: left;max-width:450px;margin: 0 0 10px 0;}

.s-device #home #page1 .homebutton {float: none;text-align:center;}
.s-device #home #page1 .hometext {float: none;width:100%;max-width:100%;}

#home #page2 ul {list-style:none;font-size:14.4pt;margin: 0 60px;padding: 0;}
#home #page2 ul li {min-height: 60px;padding: 10px 0 0 70px;}
#home #page2 ul li {background-image: url(../img/icons/reasons.png);background-repeat:no-repeat;}
#home #page2 .homebutton {text-align:center;}
#home #page2 .homebutton a {width:176px;}

.s-device #home #page2 ul {font-size:11pt;margin: 0 10px;}
.s-device #home #page2 ul li {min-height: 60px;padding: 5px 0 0 70px;}

#home #page3 p {margin-bottom: 30px;line-height:16pt;}



/**
 * ACCOUNT
 **/
#account #lastdraw .jackpot {height: 45px;}
#account {padding:  0 0 20px 0; }

#account .box {padding: 0;}
#account .box .inner {padding: 2px 10px 10px 10px;}
#account .box.box25 .inner {padding: 10px;}

#account .box h4 {margin: 0;background-color:#f9f9f9;padding: 10px 0;border-bottom:1px solid #d2d2d2;}
#account .box h2 {margin-top:4px;}

#transactions.closed .inner.preview a.toggle {display:block;font-weight:400;}
#transactions.closed .inner.preview a.toggle:hover {text-decoration:none;}
#transactions.closed .inner.preview span.nocredits {font-size:20pt;line-height:50px;height:60px;display:block;}
#transactions.closed .inner.preview span.credits {font-size:13pt;height:60px;display:block;color:#3c3c3b;}




#mytickets .nav.nav-tabs {margin:6px 10px 0 10px;}
#mytickets li {width:50%;margin:0;}
#mytickets li a {padding: 5px;border-color:#d2d2d2;border-bottom:0px;text-align:center;font-weight:400;color:#bdbdbd;}
#mytickets li.active a {background-color:#00a1a5;color:#fff;}

/* Box Sizes */
#account #news.closed,.drawbox.closed {height: 144px;overflow:hidden;}
#account #profile,#account #settings,#account #transactions, #account #socialmedia,#account #tickets {overflow:hidden;display:block;width: 614px;max-width:96%;}
#account #profile.closed,#account #settings.closed,#account #transactions.closed,#account #socialmedia.closed  {height: 137px;overflow:hidden;width: 149px;text-align:center;}
#account #tickets.closed,#account #whatsup.closed {height: 137px;overflow:hidden;}
#account #tickets.closed {width: 304px;}

#account #tickets .box h4 {margin: 0;background-color:#f9f9f9;padding: 10px 0;border-bottom:1px solid #d2d2d2;}
.s-device #account #profile.closed,.s-device #account #settings.closed,.s-device #account #transactions.closed,.s-device #account #socialmedia.closed,.s-device #account #tickets.closed  {width: 100%;}

#account #profile form .formfield ,#account #settings form .formfield,#account #transactions form .formfield {float:left;width:274px;margin: 0 10px 10px 10px;}
#account #profile form .form-group {float:left;width:274px;margin: 0 10px 10px 10px;}
#account #profile form .form-actions {clear:both;}

#account #settings .inner.content {padding: 10px;}

#account #socialmedia .headline {display:none;}
#account #socialmedia.closed .headline {display:block;}
#account #socialmedia .description {padding: 18px 0 5px 0;background:transparent;border:0px;}
#account #socialmedia.closed .description {display:none;}

#account #socialmedia .socialbox {padding: 10px 10px  20px  10px;display:block;}
.s-device #account #socialmedia .socialbox {padding: 6px;}
#account #socialmedia .socialbox .link {width:20%;text-align:center;float:left;}
#account #socialmedia .socialbox a {text-decoration: none;outline:none;}

#account #news p {padding: 0 10px;font-size:10pt}
#account #news .meta {padding: 0 10px 10px 10px;font-size:9.36pt;}
#account #news.closed .meta {display:none;}
#account #news .readmore {font-size:9.36pt; text-align:right;}
#account #whatsup p {text-align:justify;}

#account #tickets dl {width:100%;height:60px;margin:0;}
#account #tickets dt {clear:both;min-width: 120px;}
#account #tickets dd {text-align:right;min-width: 20px;}
#account #tickets dt,#account #tickets dd {float:left;margin: 0 0 5px 0;}


#mytickets table td,#mytickets table th {border-top:none;border-bottom: 1px solid #ddd;}
#mytickets .inner {padding-top: 0px;}

#tickets .inner.content {padding: 10px;}
#tickets .tab-content {border:1px solid #ddd;border-top:0px;}
#tickets .tab-content table {margin:0;}
#tickets ul.nav-tabs {border-bottom:0px; }
#tickets i.icon-product-type-em-single {display:block;font-size:50px;height:40px;position:relative;top: -8px;}
#tickets td.lottery {width:100px;vertical-align: middle;}
#tickets td.status i {font-size:22px;position:relative;top:2px;margin: 0 8px 0 0;}
#tickets td.status span {display: inline-block;padding: 10px 20px;}
.s-device #tickets td.status span {display: block;width:100px;padding: 0px;}
#tickets td.options {width: 20px;text-align:center;vertical-align: middle;}
#tickets td.options i {display:block;font-size:22px;color:#C3D3D2;}


#account .box a.close {right: 8px; top:8px;}




#ticketdetails .sumarycol {width:300px;}
#ticketdetails .sumarycol.col1 {padding: 0 20px 0 50px;float:left;}
#ticketdetails .sumarycol.col2 {float:right;padding: 0 50px 0 20px;}

#ticketdetails dt,#ticketdetails dd {float:left;width:50%;min-height:30px;}
#ticketdetails dd {padding: 8px 0 0 0;text-align:right;}
#ticketdetails .sumarycol i {font-size:24px;position:relative;top:3px;margin: 0 5px 0 0;}
#ticketdetails dt {font-weight:500;}
#ticketdetails dl {margin:-5px 0;}
#ticketdetails table {margin: 10px 0;}

.s-device #ticketdetails .sumarycol.col1,
.s-device #ticketdetails .sumarycol.col2{margin:auto;float:none;padding: 0;width:260px;}

#ticketdetails .icon-tickettype {font-size:30px;display:block;position:relative;top:-4px;}

#ticketdetails table tr td {vertical-align: middle!important;}
#transactions .balanceinfo {display:block;padding: 10px;border: 1px solid #ccc;}
#transactions .balanceinfo a.btn {margin-left:10px;}
#transactions .table tbody tr td  {border:0px solid;}

#transactions  dl {margin: 0px;width:50%;float:left;}
#transactions dl dd,#transactions dl dt {float:left;}
#transactions dl dt {width: 50%;}
#transactions dl dd {width: 50%;}

#account .dyn-content,#account .stat-content {cursor:pointer;}
#account .closed.dyn-content .content, #account .closed.stat-content  .content {display:none;}
#account .dyn-content .preview,#account .stat-content .preview {display:none;}
#account .closed.dyn-content .preview,#account .closed.stat-content .preview {display:block;padding: 10px;}


.table .even {background-color:#F9F9F9;}
.drawbox .rollover {width:77px;height:75px;position: absolute;right:-6px;top:-4px;background: transparent url(../img/images/rollover.png) left top no-repeat;}

#results .box.closed a.expand {background: none;background-color:#fff;height:22px;}
.box a.expand {display:block;position:absolute;bottom:0px;left:0;right:0;width: 100%;height:18px;background: #fff url(../img/icons/arrows.png) center -11px no-repeat;cursor:pointer;text-align:center;border-radius: 4px;}
.box.closed a.expand {background-position: center 3px;}
.box a.expand span {display:none;}
.box.closed a.expand span {display:block;}
.box a.close {display:block!important;font-size:20px;position:absolute;right: 4px; top:4px;}
.box.closed a.close {display:none!important;}

#lastdraw {padding: 6px 10px 10px 10px;}
#lastdraw .jackpot {height: 34px;}
.drawbox .jackpot {font-size:20pt;text-align:center;height: 54px;}
.drawbox .date {font-size:11pt;margin: 0;text-align:center;font-family: 'Oswald','Helvetica', 'Arial';}
.drawbox .draw {text-align:center;margin: 0 0 4px 0;}
.drawbox .inner {padding: 0 5px 4px 0;}
.drawbox table tbody td,.drawbox table thead th {padding: 1px;min-width:60px;}
.drawbox table {margin: 0;}


/**
 * Play
 **/

/*#play .box.row1 {padding: 8px 10px 6px 10px;} */
#play .box.row1 {padding: 0px;background-color:#EAEAEA;}
#play .box.row1 .formfield {float:left;height:24px;padding-right:10px;}
#play .box.row1 .formfield.last {padding-right:0px;}

#play .box.row1 .moselect a {height:22px;padding: 0px 6px;}

#play .box.row1 .group1 {float:left;padding: 10px 0 10px 20px;background-color: #fff;-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#play .box.row1 .group2 {float:left;padding: 10px 0 10px 20px;background: #F6F6F6 url(../img/backgrounds/em_play_bg_2.png) left 0px no-repeat;}
#play .box.row1 .group3 {float:left;padding: 10px 8px 10px 20px;background: #EAEAEA url(../img/backgrounds/em_play_bg_3.png) left 0px no-repeat;-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#play .box.row1 .group2 .formfield.last {padding-right:5px;}

#play .box.row1 .formfield select {margin-top:-1px;}
#play .box label {font-weight:normal;}
#play .box label.checkbox {line-height:16px;}

.s-device #play .box.row1 .group1,.s-device #play .box.row1 .group2,.s-device #play .box.row1 .group3  {background-image:none;padding: 0 20px;width:100%;}
.s-device #play .box.row1 .group1 {-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.s-device #play .box.row1 .group3 {-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}

.s-device #play .box.row1 {padding: 0px;}
.s-device #play .box.row1 .formfield {margin: 8px 0;min-width:70px;}
.s-device #play .box.row1 .formfield.last {float:right;}
.s-device  #play .box.row1 .formfield.title {min-width:86px;}

#play .icon-chkstyle.icon-multiple {opacity: 0.5;}
#play .selected .icon-chkstyle.icon-multiple {opacity: 1;}
.s-device #play .options {display:inline-block!important;}



#play .box.row2 {padding: 3px 0 5px 14px;}
#play .box.row2 .formfield {float:left;height:24px;padding: 2px 6px;width:158px;}
#play .box.row2 .formfield a:hover {opacity: 0.8;text-decoration:none;}
#play .box.row2 .formfield a i {float:left;cursor:pointer;}
#play .box.row2 .formfield a span {height:22px;padding: 0 0 0 6px;line-height:22px;color: #3C3C3B;text-decoration:none;cursor:pointer;}



#play .addcartbox {text-align:center;margin: 0 0 10px 0;min-height:30px;position: relative;}
#play .addcartbox .price {position:absolute;left: 20px;top:10px;font-weight:400;}

#play #addcart {width: 130px;}
.s-device #play .addcartbox {width:300px;margin: 10px auto;}
.s-device #play .addcartbox .price {float:left;position:static;margin: 6px 0;}
.s-device #addcard {float:right;}


.quickhelp {max-width:400px;margin:auto;}
.quickhelp ul {padding-left:16px;}
.quickhelp ul li span {color:#3c3c3b; }
.quickhelp ul li i.icon-chkstyle {font-size:24px;bottom:-4px;position:relative;top:inherit;}

/* Playfields */
.box.linebox {padding: 10px 5px;}
.box.linebox .line .pull-right {padding: 0 52px 0 0;}
#play .line {width:180px;float:left;margin: 0 15px;}
#play .line .numbers {float:left;width:152px;}
#play .line .numbers i {line-height:27px;transition: color .1s ease-in-out; -moz-transition: color .1s ease-in-out; -webkit-transition: color .1s ease-in-out;}
#play .line .stars {float:right;width:28px;}
#play .line .stars i {line-height:24px;}
#play .line .options {display:block;}
#play .line .options a {text-decoration: none;cursor:pointer;}
#play .line .leftbox {float:right;}
#play .line.required {box-shadow: 0px 0px 6px #e85c3b;}

.s-device #play .box .row2 .formfield {width:auto;}
.m-device #play .line {margin: 0 13px;}

.s-device #play .box .row1 .formfield.title {width:100%;float:none;text-align:left;}
.s-device #play .box {overflow:hidden;width:300px;margin:auto;padding-top: 4px;padding-bottom: 4px;}
.s-device #play .linebox {position:relative;padding: 8px 0 4px 0;}
.s-device #play .linebox .line {float: left; width: 220px;margin: 0 39px;}
.s-device #play .linebox .inner {width: 894px;}
.s-device #play .linebox .numbers { width: 182px;}
.s-device #play .linebox .line .stars {line-height: 21px;width: 32px;}
.s-device #play .linebox .line .playnumber {font-size:30px;}
.s-device #play .linebox .line .playstar {font-size:32px;}

#play .next.disabled, #play .prev.disabled, .formfield.disabled {opacity:0.2;}

.s-device #play .box .row1 .formfield.title {clear:both;min-width:62px;}
.s-device #play .box .row2 {padding: 6px 0 0 0px;}
.s-device #play .box .row1 .formfield,
.s-device #play .box .row2 .formfield {height:24px;}

/**
 * Results
**/
#results {padding: 30px 0 0 0;}
#results .box {float: left;/*margin: 0 10px 10px 10px;*/}
#results #search {position:relative;}
#results #search .inner {padding: 0px 5px;}
#results #search .formfield select {width: 128px;}
#results #search .formfield {width: 128px;margin: 0 4px;height: 40px;float:left;}
#results #search button.btn {float:right;margin: 0 4px 0 0;}
#results .drawbox.box {height: 464px;overflow:hidden;}
#results .drawbox.box.closed {height: 148px;}


#showresults .box {text-align:center;font-size:11pt;}
#showresults .box strong {margin: 0 0 10px;display:block;}
#showresults .box .pull-left {width:200px;}
#showresults .box .pull-right {width:360px;}
#showresults .box .pull-right .draw {width:260px;margin:auto;}
/**
 * News
**/
#newslist .newsitem {min-height:80px;}
#newslist .newsitem .thumb {float:left;width:50px;}
#newslist .newsitem .thumb img {width: 50px;max-height:50px;}
#newslist .newsitem .text {padding: 0 0 0 70px;}
#newslist .newsitem .text .title {display:block;font-weight: bold;font-size:16px;}
#newslist .newsitem .text .meta {display:block;font-size:11px;color:#666666;margin:0 0 5px 0;}


/**
 * News
**/
#faq h1 {margin-bottom: 40px;}
#faq h1 span {padding: 0 60px;background: transparent url(../img/icons/faq.png) right top no-repeat; color:#3c3c3b;}
#faq .panel {background:none;border:none;box-shadow:none;}
#faq a {cursor:pointer;font-size:24px;text-align:center;display:block;font-family: 'Oswald','Helvetica', 'Arial';}
#faq a span {padding: 0 20px;background: transparent url(../img/icons/arrows-dark.png) right -30px no-repeat;}
#faq a.collapsed span {background-position: right 10px;}
#faq .middle {width: 384px;margin:auto;text-align:justify;margin-top:10px;}



/**
 * Login
**/
#loginform h3 {text-align:center;}
#login {margin: 20px auto 0 auto;max-width:280px;}
#login .form-actions {text-align:center;}
#login #submit {height:32px;min-width:100px;}
#forgot-password {display:block;width:100%;display:block;text-align:center;}
#forgotform {width: 290px;margin: 30px auto 0 auto;}


#loginregister .box {width:49%;text-align:center;padding: 20px 10px;}
#loginregister h1 {margin-bottom: 50px;}
#loginregister .box {min-height: 150px;}
#loginregister .box strong {margin-bottom: 30px;display:block;font-size:14px;}
/**
 * Billing
**/
#billing  #step1 .form-group {float: left; width:288px;margin: 10px;}
#billing  .inner  {padding: 15px 5px 5px 5px;}
#billing  .inner  p {padding: 10px;color:#c6c6c6;text-align:center;}
#billing .formfield label.checkbox {margin-top:5px;padding-top:0;}

#billing h4 {margin: 0 0 30px 0;}
#billing .submit {min-width: 100px;}
#billing .form-actions {clear:both;width:100%;text-align:center;padding: 10px 0 0 0;}

#billing  #step2 {margin: auto; text-align:center;}
#billing  #step2 .formfield {text-align:left;}
#billing  #step2 .formfield label.biller input {display:none;}
#billing  #step2 .formfield label.biller {cursor: pointer;background: url(../img/icons/biller.png) left top no-repeat;display:block;height:40px;padding: 7px 0 0 60px;font-weight:400;color:#c6c6c6;}
#billing  #step2 .formfield label.biller.checked {color:#3c3c3b;}
#billing  #step2 .formfield label.biller.account {background-position:left 2px;}
#billing  #step2 .formfield label.biller.cc {background-position:left -46px;}
#billing  #step2 .formfield label.biller.sofort {background-position:left -150px;}
#billing  #step2 .formfield label.biller.skrill {background-position:left -198px;}
#billing  #step2 .formfield label.biller.paysafe {background-position:left -248px;}
#billing  #step2 p {padding: 10px 30px;}

#billing  #step2 .formfield.paytype {margin: 0 0 10px 0; }
#billing  #step2 .payinamount {display:none;padding: 0 0 0 30px;}
#billing  #step2 .payinamount input {width:180px;}
#billing  #step2 .paytype.selected .payinamount {display:block;}
#billing  #step2 label {padding-left:30px;}

/*
#billing  #step3 {margin: auto; max-width: 440px;}
#billing  #step3 .informationblock {float:left;width:214px;margin: 0 0 20px 0;}
#billing  #step3 .informationblock strong {display:block;margin: 0 0 10px 0;}
#billing  #step3 .informationblock .sum {padding: 0 0 2px 0;margin: 0 0 5px 0;display:block;text-align:right;}
#billing  #step3 .informationblock .fee {padding: 0 0 2px 0;margin: 0 0 5px 0;display:block;text-align:right;}
#billing  #step3 .informationblock .total {font-weight: bold;border-top: 1px solid #3c3c3b;display:block;}
#billing  #step3 .change {display:inline-block;padding: 2px 0 0 0;text-decoration:underline;}
#billing  #step3 .note {font-size:11px;margin: 4px 16px 0 0; padding: 0; text-align:left;}*/



#billingconfirm .submit {padding: 10px 220px;text-align:center;}
.s-device #billingconfirm .submit {padding: 10px 100px;}

/** Billingerror **/

#billingerror h1.error {margin-bottom:40px;}
#billingerror p {padding: 0 80px}
#billingerror  ul {padding: 40px 80px}
#billingerror .submit {text-align:center;padding: 0 160px;}

.s-device #billingerror p {padding: 0 20px}
.s-device #billingerror  ul {padding: 20px 20px}



#registration label.radio,#registration_popup label.radio {display:inline-block;min-width: 100px;}
#registration select,#registration_popup select {min-width:80px;}

#article #preamble,#newsitem #preamble {min-height: 196px;}
#newsitem img {margin: 10px;}

#payout .box .inner {padding: 0 25px 10px 25px;}
#payout .box ul li {margin-bottom: 25px;}
#payout dl,#payout ul  {margin: 20px 0 20px 0;}
#payout ul {padding-left: 15px;list-style:none;}
#payout ul li:before {content: "• ";font-weight:bold; color:#00a3a7;margin: 0 5px 0 -15px;}
#payout dl dd,#payout dl dt {float:left;margin: 0 0 5px 0;}
#payout dl dt {width: 30%;}
#payout dl dd {width: 69%;}

#payout p.buttonrow {padding: 20px 0 0 0;text-align:center;}

#payout input {max-width: 300px;}
#payout .amount span {font-weight:bold;}
#payout .amount {margin: 0 0 10px 0;}
#payoutaccount .inner {padding: 25px;}
#payout .addaccount a {display:block;height:24px;}
#payout .addaccount a span {height:22px;padding: 0 0 0 6px;line-height:22px;}

#payoutaccountform ul.info {padding-left:10px;list-style:none;}
#payoutaccountform ul.info li:before {content: "• ";font-weight:bold; color:#00a3a7;margin: 0 5px 0 -15px;}