body {padding: 50px 0;}
.clear {clear:both;display:block;height:1px;}
/**
 * Bootstap Missing Class
 **/
select.input-xs {height:22px;padding: 1px 3px;font-size: 12px;line-height: 1.5;}
input.input-xs {height:22px;padding: 1px 3px;font-size: 12px;line-height: 1.5;}
.modal-backdrop.fade.in {opacity: 0.5;}

.markItUpHeader {height:24px;width:100%;}
.markItUpEditor {background-repeat: repeat-x!important;}

.male {color: #428BCA;}
.female {color: #F925BA;}

/** disable collapse**/
body .navbar-fixed-top .navbar-collapse.collapse { display: block!important; }
body .navbar-fixed-top .navbar-header {display:block!important;}
body .navbar-fixed-top .navbar-nav>li, .navbar-nav {float: left !important;}
body .navbar-fixed-top .navbar-right {float: right!important; position: absolute; right: 0; top: 0;}


/** dropdown menu styles */
.dropdown-submenu { position: relative; }
.dropdown-submenu>.dropdown-menu {top: 0;left: 100%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu {display: block;}
.dropdown-submenu>a:after {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #ccc;margin-top: 5px;margin-right: -10px;}
.dropdown-submenu:hover>a:after {border-left-color: #fff;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left>.dropdown-menu {left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;}

.sidebar { background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    position: fixed;
    top: 51px;
    z-index: 1000;
}
.sidebar .togglenav {color:#ccc;text-align:right;}
.sidebar .nav li a {padding-left: 5px;padding-right:5px; }
.sidebar .nav .nav {padding: 0 0 0 10px;}
/**
 * PAGES
 **/
#articlelist .panel {margin: 0 0 10px 0;}
#articlelist {padding: 10px 0 0 0;}
#articlelist .panel.closed .panel-body,#articlelist  .panel.closed .toggle .glyphicon-minus {display:none;}
#articlelist .panel-heading {padding:5px 15px;}
#articlelist .panel.open .languages,#articlelist .panel.open .toggle .glyphicon-plus {display:none;}
#articlelist {font-size:13px;}
#articlelist .panel table {margin: 0 0 5px 0;}
#articlelist .panel table tr td,#articlelist .panel table thead tr th {padding-top: 4px;padding-bottom:4px;}
#articlelist .panel a .glyphicon {color:#333;cursor: pointer;}
#articlelist a.toggle:hover {text-decoration:none;}


#translationlist th.lang {min-width:200px;}

#drawlist {padding: 10px 0 0 0;}
#drawlist .panel {margin: 0 0 10px 0;}
#drawlist .panel.closed .panel-body,#drawlist  .panel.closed .toggle .glyphicon-minus {display:none;}
#drawlist .panel.open .toggle .glyphicon-plus {display:none;}


#faq .languagebox {margin: 0 12px 10px 12px;border-radius: 5px;border: 1px solid #e5e5e5;background-color:#fff;}
#faq .languagebox legend {padding: 5px 20px 5px 20px;margin-bottom:0px;cursor:pointer;background-color:#fff;font-size:16px;font-weight:bold;}
#faq .languagebox .form-group {padding: 20px 20px 0px 20px;margin:0;background-color:#fff;}

#faq .languagebox.notext {border-color: #fbeed5;}
#faq .languagebox.notext legend { background-color: #fcf8e3;border-color: #fbeed5;color: #c09853;}
#faq .languagebox.ok { border-color: #d6e9c6; }
#faq .languagebox.ok legend { background-color: #dff0d8; border-color: #d6e9c6; color: #468847;}


#faq .languagebox.closed legend {border-bottom:0;margin-bottom: 0;}
#faq .languagebox.closed .form-group {display:none;}


#statsoverview form {border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding: 10px 0;}

#reportrange {height:30px;border:1px solid #ccc;border-top: 4px #ccc solid;padding: 0 4px;cursor:pointer;margin: 0 6px;}

#countries td.active_registration .glyphicon-ok,#countries td.active_payout .glyphicon-ok, #countries td.iban_mandatory .glyphicon-ok {display:none;}
#countries td.active_registration.published i.glyphicon-ok,#countries td.active_payout.published i.glyphicon-ok, #countries td.iban_mandatory.published .glyphicon-ok {display:block;}
#countries td.active_registration.published i.glyphicon-remove,#countries td.active_payout.published i.glyphicon-remove,#countries td.iban_mandatory.published i.glyphicon-remove {display:none;}

td.pubstate .glyphicon-ok {display:none;}
td.pubstate.published i.glyphicon-ok {display:block;}
td.pubstate.published i.glyphicon-remove {display:none;}

#infobox {border: 1px solid #ddd;padding: 4px;margin: 2px;border-radius: 4px;cursor:pointer;}
#infobox .details {display:none;}
#infobox.open .details {display:block;margin: 0 0 0 18px;}
 @media (max-width: 768px ) {
	#infobox .box:nth-child(2n+1) {
	   background-color: #f9f9f9;
   }
 }

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}