/* PAGE Contact */

.contact-page-page {
  //max-width: 700px;
  max-width: 848px;
  overflow: hidden;
  text-align: center;

  @media only screen and (min-width: $screen-ipad-v) {
    max-width: 848px;
    overflow: hidden;
    text-align: center;
  }

  @media only screen and (min-width: $screen-desktop) {
    max-width: 636px;
  }

  .contact-page-form {
    display: block;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: -4px;

    @media only screen and (min-width: $screen-ipad-v) {
      padding-left: 0px;
      padding-top: 67px;
      margin-top: 0;
    }

    @media only screen and (min-width: $screen-ipad-h) {
      display: inline-block;
      padding-left: 149px;
    }

    @media only screen and (min-width: $screen-desktop) {
      padding-left: 111px;
      padding-top: 50px;
    }

    .h2 {
      color: #333333;
      font-size: 24px;
      font-weight: 900;
      text-align: left;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 3px;


      @media only screen and (min-width: $screen-ipad-v) {
        color: #333333;
        font-size: 24px;
        font-weight: 900;
        text-align: left;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
      @media only screen and (min-width: $screen-desktop) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }

    h3 {
      color:  #b7b7b7;
      font-size: 15px;
      font-weight: 900;
      text-align: left;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 11px;

      @media only screen and (min-width: $screen-ipad-v) {
        color:  #b7b7b7;
        font-size: 17px;
        font-weight: 900;
        text-align: left;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 26px;
      }
      @media only screen and (min-width: $screen-desktop) {
        font-size: 13.4px;
        margin-bottom: 20px;
      }
    }

    .captcha-title {
      padding-left: 0px;
      margin-bottom: 0px;
      font-size: 18px;

      @media only screen and (min-width: $screen-ipad-v) {
        padding-left: 30px;
        margin-bottom: 30px;
        font-size: 16px;
      }

      @media only screen and (min-width: $screen-desktop) {
        padding-left: 23px;
        margin-bottom: 23px;
        font-size: 13px;
      }
    }

    .captcha {
      height: 95px;
      margin-bottom: 0px;

      @media only screen and (min-width: $screen-ipad-v) {
        height: 115px;
        margin-bottom: 60px;
      }

      @media only screen and (min-width: $screen-desktop) {
        height: 87px;
        margin-bottom: 44px;
      }
    }

    .submit {
      font-size: 18px;
      font-weight: 700;
      width: 100%;
      height: 46px;
      line-height: 46px;
      margin-bottom: 30px;

      @media only screen and (min-width: $screen-ipad-v) {
        font-size: 23.9px;
        font-weight: 700;
        width: 100%;
        height: 80px;
        line-height: 80px;
        margin-bottom: 60px;
      }

      @media only screen and (min-width: $screen-desktop) {
        font-size: 17px;
        font-weight: 700;
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-bottom: 45px;
      }
    }

    textarea {
      min-height: 150px;
      margin-bottom: 6px;

      @media only screen and (min-width: $screen-ipad-v) {
        min-height: 500px;
        margin-bottom: 25px;
      }

      @media only screen and (min-width: $screen-desktop) {
        min-height: 376px;
        margin-bottom: 16px;
      }
    }
  }
}