.cookies-block--mobile {
  //display: block;
  //
  //@media only screen and (min-width: $screen-ipad-v) {
  //  display: none;
  //}
}

.cookies-block--desktop {
  //display: none;
  //
  //@media only screen and (min-width: $screen-ipad-v) {
  //  display: block;
  //}
}

//This styles for the desktop version only

//.box-cookies,

.top-nav .box-cookies {
  margin-bottom: 20px;
}
.box-cookies {
  margin-bottom: 20px;

  a {
    color: #eee;
  }
}

.box-cookies--desktop {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 2px;

  @media only screen and (min-width: $screen-ipad-v) {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 2px;
  }
  @media only screen and (min-width: $screen-desktop) {

  }

  .box-cookies--links {
    display: block;
    list-style: none;
    margin-bottom: 20px;
    line-height: 1.2;

    @media only screen and (min-width: $screen-ipad-v) {
      display: block;
      width: 207px;
      margin-left: -207px;
      list-style: none;
      float: right;

      position: relative;
      top: -9px;
      margin-right: 3px;
      margin-bottom: 0;
      line-height: 1.2;
    }


    @media only screen and (min-width: $screen-desktop) {
      display: block;
      width: 154px;
      margin-left: -154px;
      list-style: none;
      float: right;
      position: relative;
      top: -6px;
      margin-right: 3px;
      margin-bottom: 0;
      line-height: 1.2;
    }

    li {
      text-align: left;
      position: relative;
      padding-left: 32px;

      @media only screen and (min-width: $screen-ipad-v) {
        text-align: left;
        position: relative;
        padding-left: 32px;
      }

      @media only screen and (min-width: $screen-desktop) {
        padding-left: 23px;
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 3px;
        top: 6px;
        width: 20px;
        height: 20px;

        background-image: url('../img/home/cookies/desktop/box-cookies--links--continue.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        -webkit-background-size: 19px;
        background-size: 19px;

        @media only screen and (min-width: $screen-ipad-v) {
          display: block;
          content: "";
          position: absolute;
          left: 3px;
          top: 6px;
          width: 20px;
          height: 20px;

          background-image: url('../img/home/cookies/desktop/box-cookies--links--continue.png');
          background-repeat: no-repeat;
          background-position: 0px 0px;
          -webkit-background-size: 19px;
          background-size: 19px;
        }
      }

      &.box-cookies--links--continue::before {
        background-image: url('../img/home/cookies/desktop/box-cookies--links--continue.png');
        -webkit-background-size: 17px;
        background-size: 17px;

        @media only screen and (min-width: $screen-ipad-v) {
          background-image: url('../img/home/cookies/desktop/box-cookies--links--continue.png');
          -webkit-background-size: 17px;
          background-size: 17px;
        }
        @media only screen and (min-width: $screen-desktop) {
          -webkit-background-size: 13px;
          background-size: 13px;
        }
      }

      &.box-cookies--links--change-settings::before {
        background-image: url('../img/home/cookies/desktop/box-cookies--links--change-settings.png');
        -webkit-background-size: 19px;
        background-size: 19px;

        left: 2px;
        top: 4px;

        @media only screen and (min-width: $screen-ipad-v) {
          background-image: url('../img/home/cookies/desktop/box-cookies--links--change-settings.png');
          -webkit-background-size: 19px;
          background-size: 19px;

          left: 2px;
          top: 4px;
        }

        @media only screen and (min-width: $screen-desktop) {
          -webkit-background-size: 14px;
          background-size: 14px;
        }
      }

      &.box-cookies--links--more::before {
        background-image: url('../img/home/cookies/desktop/box-cookies--links--more.png');
        -webkit-background-size: 18px;
        background-size: 18px;

        left: 3px;
        top: 6px;

        @media only screen and (min-width: $screen-ipad-v) {
          background-image: url('../img/home/cookies/desktop/box-cookies--links--more.png');
          -webkit-background-size: 18px;
          background-size: 18px;

          left: 3px;
          top: 6px;
        }

        @media only screen and (min-width: $screen-desktop) {
          -webkit-background-size: 13px;
          background-size: 13px;
          left: 2px;
          top: 5px;
        }
      }

      a {
        text-decoration: none;
        color:  #f8d013;
        font-size: 24px;
        font-weight: 400;

        @media only screen and (min-width: $screen-ipad-v) {
          text-decoration: none;
          color:  #f8d013;
          font-size: 24px;
          font-weight: 400;
        }
        @media only screen and (min-width: $screen-desktop) {
          font-size: 18px;
        }
      }

    }
  }

  .box-cookies--content {
    //padding-right: 220px;

    @media only screen and (min-width: $screen-ipad-v) {
      padding-right: 220px;
    }

    @media only screen and (min-width: $screen-ipad-h) {
      padding-left: 0;
    }

    @media only screen and (min-width: $screen-desktop) {
      padding-left: 0;
      padding-right: 170px;
    }
  }

  .box-cookies--title {

    color:  #9b9b9b;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;

    @media only screen and (min-width: $screen-ipad-v) {
      color:  #9b9b9b;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 17px;
    }

    @media only screen and (min-width: $screen-desktop) {
      font-size: 18px;
      margin-bottom: 10px;
    }

  }

  .box-cookies--description {
    color:  #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    text-align: left;

    @media only screen and (min-width: $screen-ipad-v) {
      color:  #9b9b9b;
      font-size: 17px;
      font-weight: 400;
      text-align: left;
    }

    @media only screen and (min-width: $screen-desktop) {
      font-size: 13px;
      line-height: 1.2;
    }

  }

}