//Currency block in the Top navigation

.ul-top-nav {

  & > .li-currency {

    & > a.link {
      font-family: $ff1;
      //color:  #9b9c9b;
      //font-size: 17px;
      font-size: 14px;
      font-weight: 700;
      text-align: left;

      padding: 0;
    }
  }
}

#li-currency--desktop {
  //margin-right: 26px;
  //position: relative;
  //top: 8px;

  margin-right: 23px;
  position: relative;
  top: 3px;

  margin-left: -6px;

  .li-currency--main-link {
    position: relative;
    color: #9b9c9b;
  }

  .li-currency--main-link:after {
    //@include css-triangle($v2-yellow, 5px);
    @include css-triangle($v2-yellow, 4px);
    //right: -10px;
    //bottom: 2px;

    right: -6px;
    bottom: 3px;
  }

  .currency--symbol {
    display: inline-block;
    //font-family: Roboto;
    font-family: $ff3;
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    background-color: #f5cc0d;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: left;
    vertical-align: text-top;
    line-height: 17px;
    position: relative;
    right: -9px;
    padding-left: 3px;
  }

  .div-currency {
    //display: block !important;

    background-color: transparent;
    width: 475px;
    border: 0;
    border-radius: 0;

    right: -14px;
    padding-top: 43px;

    @media only screen and (min-width: $screen-desktop) {
      width: 355px;
      border: 0;
      border-radius: 0;
      right: -9px;
      padding-top: 29px;
    }

    .div-currency--shade {
      //position: relative;
      //z-index: 1;
      //background-color: rgba(0,0,0,0.3);
      //width: 510px;
      //top: 10px;
      //height: 100%;
    }

    .div-currency--content {
      position: relative;
      z-index: 2;
      box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
    }
    ul {

      li {
        border: 0;
        background-color: #f6f6f6;

        a:hover,
        a {
          height: 87px;
          line-height: 84px;
          padding: 0 0 0 21px;
          display: block;
          background-color: transparent;

          @media only screen and (min-width: $screen-desktop) {
            height: 65px;
            line-height: 63px;
            padding: 0 0 0 14px;
          }

          .currency--li--code {
            //font-family: WorkSans;
            color: #9b9b9b;
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
            padding-right: 90px;

            @media only screen and (min-width: $screen-desktop) {
              font-size: 21px;
              padding-right: 68px;
            }
          }
          .currency--li--name {
            //font-family: WorkSans;
            color: #333333;
            font-size: 28px;
            font-weight: 400;

            @media only screen and (min-width: $screen-desktop) {
              font-size: 21px;
            }
          }
        }

        &:hover,
        &.currency--li--current {
          background-color: #6c6c6c;

          a:hover,
          a {
            background-color: transparent;

            .currency--li--code {
              color: #f9d118;
            }
            .currency--li--name {
              color: #f9d118;
            }
          }
        }

        &.currency--li--show-all {
          background-color: #f1efef;

          //a:hover,
          a {
            background-color: transparent;

            //font-family: WorkSans;
            color: #6c6c6c;
            font-size: 24px;
            font-weight: 900;
            text-align: left;
            text-transform: uppercase;
            position: relative;

            @media only screen and (min-width: $screen-desktop) {
              font-size: 18px;
            }

            &::after {
              display: block;
              content: "";
              position: absolute;
              top: 35px;
              right: 30px;
              width: 38px;
              height: 22px;
              background-image: url('../img/currencies/desktop/arrow.png');
              background-repeat: no-repeat;
              -webkit-background-size: 38px;
              background-size: 38px;

              @media only screen and (min-width: $screen-desktop) {
                top: 26px;
                right: 23px;
                width: 28px;
                height: 18px;
                background-image: url('../img/currencies/desktop/arrow.png');
                background-repeat: no-repeat;
                -webkit-background-size: 28px;
                background-size: 28px;
              }

            }

            &:hover {
              background-color: #ababab;
            }
          }
        }
      }
    }
  }
}