form {
  //.select,
  .selectbox {
    @include selectbox();
  }

  //.input,
  //input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="search"] {
    @include input();
  }

  //.textarea,
  textarea {
    @include textarea();
  }

  input[type="checkbox"] + .checkbox-after {

    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    border-width: 1px;
    border-color: #404040;
    border-style: solid;
    width: 10px;
    height: 10px;

  }
  input[type="checkbox"]:checked + .checkbox-after {
    //background-color: #404040;
    background-color: #fbd93a;
  }

  .input--email {
    position: relative;
    padding-left: 45px;
    overflow: hidden;

    @media only screen and (min-width: $screen-desktop) {
      padding-left: 67px;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      border:1px solid #b7b7b7;
      border-radius: 50%;
      top: 0px;
      left: 0;
      width: 28px;
      height: 28px;
      background-image: url('../img/sign/desktop/email.png');
      background-repeat: no-repeat;
      -webkit-background-size: 15px;
      background-size: 15px;
      background-position: 50% 50%;

      @media only screen and (min-width: $screen-desktop) {
        top: 4px;
        left: 0;
        width: 32px;
        height: 32px;
        -webkit-background-size: 18px;
        background-size: 18px;
      }
    }
  }
  .input--password {
    position: relative;
    padding-left: 45px;
    overflow: hidden;

    @media only screen and (min-width: $screen-desktop) {
      padding-left: 67px;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      border:1px solid #b7b7b7;
      border-radius: 50%;
      top: 0px;
      left: 0;
      width: 28px;
      height: 28px;
      background-image: url('../img/sign/desktop/password.png');
      background-repeat: no-repeat;
      -webkit-background-size: 11px;
      background-size: 11px;
      background-position: 50% 50%;

      @media only screen and (min-width: $screen-desktop) {
        top: 3px;
        left: 0;
        width: 32px;
        height: 32px;
        -webkit-background-size: 14px;
        background-size: 14px;
      }
    }
  }
}