// PAGES: Play

.play--page {

  .banner {
    display: none;

    @media only screen and (min-width: $screen-ipad-v) {
      display: none;
    }

    @media only screen and (min-width: $screen-ipad-h) {
      display: block;
      height: 399px;

      background-image: url('../img/home/banner/desktop/banner.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
    }


    @media only screen and (min-width: $screen-desktop) {

      display: block;
      height: 300px;

      background-image: url('../img/home/banner/desktop/banner.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  .box-bottom.play-bottom-block {

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    border-top: 0;

    margin-top: 66px;

    @media only screen and (min-width: $screen-ipad-v) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 60px;
      border-top: 0;

      margin-top: 66px;
    }

    @media only screen and (min-width: $screen-ipad-h) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 60px;
      border-top: 0;
    }

    @media only screen and (min-width: $screen-desktop) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 60px;
      border-top: 0;
    }
  }

  header {

    background: -webkit-linear-gradient(0deg, #51a0e9 0%, #1678d3 100%);
    background: -moz-linear-gradient(0deg, #51a0e9 0%, #1678d3 100%);
    background: -o-linear-gradient(0deg, #51a0e9 0%, #1678d3 100%);
    background: -ms-linear-gradient(0deg, #51a0e9 0%, #1678d3 100%);
    background: linear-gradient(90deg, #51a0e9 0%, #1678d3 100%);

    overflow: hidden;
    margin-top: 25px;

    @media only screen and (min-width: $screen-ipad-v) {
      overflow: hidden;
      margin-top: 25px;
    }

    @media only screen and (min-width: $screen-ipad-h) {
      margin-top: -283px;
      height: 110px;
    }

    @media only screen and (min-width: $screen-desktop) {
      margin-top: -213px;
      height: 83px;
    }

    .left {
      float: left;
      padding-top: 5px;
      padding-left: 19px;

      @media only screen and (min-width: $screen-ipad-v) {
        float: left;
        padding-top: 5px;
        padding-left: 19px;
      }

      @media only screen and (min-width: $screen-ipad-h) {
        padding-top: 10px;
        padding-left: 40px;
      }

      @media only screen and (min-width: $screen-desktop) {
        padding-top: 10px;
        padding-left: 30px;
      }

      .top {
        //font-family: WorkSans;
        color: #ffffff;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-ipad-v) {
          color: #ffffff;
          font-weight: 700;
          font-size: 26px;
          line-height: 32px;
          text-align: left;
          text-transform: uppercase;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          font-size: 24px;
          line-height: 32px;
        }

        @media only screen and (min-width: $screen-desktop) {
          font-size: 18px;
          line-height: 20px;
        }
      }

      .bottom {
        //font-family: WorkSans;
        color: #ffffff;
        font-weight: 700;
        font-size: 38px;
        line-height: 32px;
        text-align: left;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-ipad-v) {
          color: #ffffff;
          font-weight: 700;
          font-size: 38px;
          line-height: 32px;
          text-align: left;
          text-transform: uppercase;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          font-size: 34px;
          line-height: 25px;
        }

        @media only screen and (min-width: $screen-desktop) {
          font-size: 25px;
          line-height: 24px;
        }
      }

    }
    .right {

      float: right;
      padding-right: 42px;
      padding-top: 20px;

      @media only screen and (min-width: $screen-ipad-v) {
        float: right;
        padding-right: 42px;
        padding-top: 20px;
      }

      @media only screen and (min-width: $screen-ipad-h) {
        float: left;
        padding-right: 0;
        padding-top: 31px;
        padding-left: 26px;
      }

      @media only screen and (min-width: $screen-desktop) {
        float: left;
        padding-right: 0;
        padding-top: 22px;
        padding-left: 21px;
      }

      .top {
        //font-family: WorkSans;
        color: #ffffff;
        font-weight: 900;
        font-size: 61px;
        text-align: center;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-ipad-v) {
          color: #ffffff;
          font-weight: 900;
          font-size: 61px;
          text-align: center;
          text-transform: uppercase;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          font-size: 58.5px;
        }

        @media only screen and (min-width: $screen-desktop) {
          font-size: 52px;
        }

      }

      .bottom {
        color: #fff;
        font-weight: 400;
        font-size: 14.5px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 4px;

        @media only screen and (min-width: $screen-ipad-v) {
          color: #fff;
          font-weight: 400;
          font-size: 14.5px;
          text-align: center;
          padding-top: 16px;
          padding-bottom: 4px;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          font-size: 18px;
          padding-top: 24px;
        }

        @media only screen and (min-width: $screen-desktop) {
          font-size: 13px;
          padding-top: 13px;
        }
      }
    }

    .help-block {
      display: none;

      @media only screen and (min-width: $screen-ipad-v) {
        display: none;
      }

      @media only screen and (min-width: $screen-ipad-h) {
        display: block;
        float: right;
        position: relative;
        width: 270px;
        margin-top: 8px;
        height: 90px;
        padding-top: 5px;
      }

      @media only screen and (min-width: $screen-desktop) {
        display: block;
        float: right;
        position: relative;
        width: 416px;
        margin-top: 3px;
        height: 80px;
        padding-top: 5px;
      }

      .top {
        color:  #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;

        @media only screen and (min-width: $screen-ipad-v) {
          color:  #ffffff;
          font-weight: 500;
          text-align: center;
          text-transform: uppercase;
          font-size: 18px;
          padding-bottom: 10px;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          font-size: 12px;
          padding-bottom: 10px;
          padding-top: 6px;
        }
        @media only screen and (min-width: $screen-desktop) {
          font-size: 13px;
          padding-bottom: 4px;
          padding-top: 0;
        }
      }

      .bottom {
        text-align: center;
        padding-right: 7px;

        @media only screen and (min-width: $screen-ipad-v) {
          text-align: center;
          padding-right: 7px;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          padding-right: 0px;
        }
        @media only screen and (min-width: $screen-desktop) {
          padding-right: 7px;
        }

        a {
          text-transform: uppercase;
          display: inline-block;
          height: 48px;
          line-height: 48px;
          background-color: #469eef;
          border-radius: 4px;
          text-shadow: none;
          text-decoration: none;
          color: #fff;

          //font-family: WorkSans;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          padding: 0px;

          @media only screen and (min-width: $screen-ipad-v) {
            text-transform: uppercase;
            display: inline-block;
            height: 48px;
            line-height: 48px;
            background-color: #469eef;
            border-radius: 4px;
            text-shadow: none;
            text-decoration: none;
            color: #fff;

            //font-family: WorkSans;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            padding: 0px;
          }

          @media only screen and (min-width: $screen-ipad-h) {
            text-transform: uppercase;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            background-color: #469eef;
            border-radius: 4px;
            text-shadow: none;
            text-decoration: none;
            color: #fff;

            //font-family: WorkSans;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            padding: 0px 10px;
          }
          @media only screen and (min-width: $screen-desktop) {
            text-transform: uppercase;
            display: inline-block;
            height: 37px;
            line-height: 37px;
            background-color: #469eef;
            border-radius: 4px;
            text-shadow: none;
            text-decoration: none;
            color: #fff;

            //font-family: WorkSans;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            padding: 0px;
          }

          &.a-hiw {
            width: 187px;

            @media only screen and (min-width: $screen-ipad-v) {
              width: 187px;
            }

            @media only screen and (min-width: $screen-ipad-h) {
              width: auto;
            }
            @media only screen and (min-width: $screen-desktop) {
              width: 137px;
            }
          }
          &.a-results {
            width: 148px;

            @media only screen and (min-width: $screen-ipad-v) {
              width: 148px;
            }

            @media only screen and (min-width: $screen-ipad-h) {
              width: auto;
            }
            @media only screen and (min-width: $screen-desktop) {
              width: 110px;
            }
          }
          &.a-faq {
            width: 137px;

            @media only screen and (min-width: $screen-ipad-v) {
              width: 137px;
            }

            @media only screen and (min-width: $screen-ipad-h) {
              width: auto;
            }
            @media only screen and (min-width: $screen-desktop) {
              width: 107px;
            }
          }
        }

      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 90px;
        background-image: url('../img/play/desktop/help-separator.png');
        -webkit-background-size: 2px;
        background-size: 2px;
        background-repeat: no-repeat;
        background-position: 0;

        @media only screen and (min-width: $screen-ipad-v) {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 2px;
          height: 90px;
          background-image: url('../img/play/desktop/help-separator.png');
          -webkit-background-size: 2px;
          background-size: 2px;
          background-repeat: no-repeat;
          background-position: 0;
        }

        @media only screen and (min-width: $screen-ipad-h) {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 2px;
          height: 90px;
          background-image: url('../img/play/desktop/help-separator.png');
          -webkit-background-size: 2px;
          background-size: 2px;
          background-repeat: no-repeat;
          background-position: 0;
        }
        @media only screen and (min-width: $screen-desktop) {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          width: 2px;
          height: 60px;
          background-image: url('../img/play/desktop/help-separator.png');
          -webkit-background-size: 2px;
          background-size: 2px;
          background-repeat: no-repeat;
          background-position: 0;
        }
      }
    }

  }

  .gameplay {
    border: 0;

    @media only screen and (min-width: $screen-ipad-v) {
      border: 0;
    }
  }

}