// Powerball right section

.right-section {
  width: 360px;
  float: right;
  margin-left: -360px;

  @media only screen and (min-width: $screen-desktop) {
    width: 272px;
    float: right;
    margin-left: -273px;
  }

  .section-powerball {

    section {
      padding: 31px 23px;
      border-width: 1px;
      border-color: #000000;
      border-style: solid;
      background-color: #ffffff;
      width: 358px;
      //height: 415px;
      margin-bottom: 21px;

      @media only screen and (min-width: $screen-desktop) {
        padding: 20px 16px;
        border-width: 1px;
        border-color: #000000;
        border-style: solid;
        background-color: #ffffff;
        width: 270px;
        //height: 415px;
        margin-bottom: 15px;
        padding-bottom: 25px;
      }

      .corner {
        position: relative;
      }

      .corner-powerball {
        position: relative;
      }

      .corner:after {
        content: "";
        display: block;
        position: absolute;
        border: 30px solid transparent;
        border-right: 30px solid #4698e5;
        border-top: 30px solid #4698e5;
        right: -22px;
        top: -30px;

        @media only screen and (min-width: $screen-desktop) {

          border: 21px solid transparent;
          border-right: 21px solid #4698e5;
          border-top: 21px solid #4698e5;
          right: -14px;
          top: -18px;
        }
      }

      .corner-powerball:after {
        content: "";
        display: block;
        position: absolute;
        border: 30px solid transparent;
        border-right: 30px solid #f03c3c;
        border-top: 30px solid #f03c3c;
        right: -22px;
        top: -30px;

        @media only screen and (min-width: $screen-desktop) {

          border: 21px solid transparent;
          border-right: 21px solid #f03c3c;
          border-top: 21px solid #f03c3c;
          right: -14px;
          top: -18px;
        }
      }

      .title {
        //font-family: WorkSans;
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        @media only screen and (min-width: $screen-desktop) {
          font-size: 27px;
          margin-bottom: 34px;
        }
      }

      .price {
        //font-family: WorkSans;
        color: #333333;
        font-size: 96.65px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        left: -8px;
        margin-bottom: 44px;

        @media only screen and (min-width: $screen-desktop) {
          font-size: 73.65px;
          margin-bottom: 26px;
        }
      }

      .price-sm {
        //font-family: WorkSans;
        color: #333333;
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        left: -8px;
        margin-bottom: 44px;

        @media only screen and (min-width: $screen-desktop) {
          font-size: 50px;
          margin-bottom: 26px;
        }
      }

      .measure {
        //font-family: WorkSans;
        color: #333333;
        font-size: 37.58px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 37px;

        @media only screen and (min-width: $screen-desktop) {
          font-size: 28px;
          margin-bottom: 26px;
        }
      }

      .timer {
        margin-bottom: 40px;

        @media only screen and (min-width: $screen-desktop) {
          margin-bottom: 29px;
        }

        .countdown {
          border-width: 1px;
          border-color: #333333;
          border-style: solid;
          width: 310px;
          height: 46px;
          text-align: center;

          @media only screen and (min-width: $screen-desktop) {
            width: 235px;
            height: 35px;
          }

          div, span {
            color: #333333;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            line-height: 44px;

            @media only screen and (min-width: $screen-desktop) {
              color: #333;
              font-size: 18px;
              font-weight: 600;
              text-align: center;
              line-height: 32px;
            }
          }
        }
        .countdownpower {
          border-width: 1px;
          border-color: #333333;
          border-style: solid;
          width: 310px;
          height: 46px;
          text-align: center;

          @media only screen and (min-width: $screen-desktop) {
            width: 235px;
            height: 35px;
          }

          div, span {
            color: #333333;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            line-height: 44px;

            @media only screen and (min-width: $screen-desktop) {
              color: #333;
              font-size: 18px;
              font-weight: 600;
              text-align: center;
              line-height: 32px;
            }
          }
        }
        .countdowneuro {
          border-width: 1px;
          border-color: #333333;
          border-style: solid;
          width: 310px;
          height: 46px;
          text-align: center;

          @media only screen and (min-width: $screen-desktop) {
            width: 235px;
            height: 35px;
          }

          div, span {
            color: #333333;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            line-height: 44px;

            @media only screen and (min-width: $screen-desktop) {
              color: #333;
              font-size: 18px;
              font-weight: 600;
              text-align: center;
              line-height: 32px;
            }
          }
        }
      }

      .btn-row {
        .btn-theme--big {
          width: 100%;
          height: 75px;
          font-size: 34px;
          line-height: 75px;

          @media only screen and (min-width: $screen-desktop) {
            height: 55px;
            font-size: 25px;
            line-height: 55px;
          }
        }
      }

      &.section-01 {
      }

      &.section-02 {
        .corner:after {
          border-right: 30px solid #ff0000;
          border-top: 30px solid #ff0000;

          @media only screen and (min-width: $screen-desktop) {
            border-right: 21px solid #ff0000;
            border-top: 21px solid #ff0000;
          }
        }

      }

    }
  }
}