/*** VARIABLES ***
NO ALLLOWED: Class, ID or Keyframes
ALLOWED: Variable and Extension
*/
/* COLORS */
/* LINKS COLORS */
/* TYPOGRAPHY */
/* 16x3.375 = 54px */
/* 16x1.875 = 30px */
/* 16x1.375=22 */
/* 16x1.125=18 */
/* 16x0.9375=15 */
/* 16x1.125=14 */
/* 16x0.75=12 */
/* STROKE OUTLINE */
/* NOTE: IE9 doesn't support text-shadow */
/* BUTTONS */
/* ANIMATION */
/* COLUMNS */
#content .nav {
  float: left;
  width: 270px;
  margin: 0;
  padding: 0;
}
#content .nav a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 1px solid #efc048;
}
#content .nav a:hover, #content .nav a:focus {
  background: #efc048;
  color: #fff;
}
#content .nav a:hover .ico, #content .nav a:focus .ico {
  color: #fff;
}
#content .nav li:last-child a {
  border-bottom: 0;
}
#content .nav .ico {
  float: right;
  color: #efc048;
  font-size: 14px;
  margin-top: 3px;
  display: block;
}
#content .nav .active {
  font-weight: bold;
  background: #efc048;
  color: #fff;
  cursor: default;
}
#content .nav .active .ico {
  color: #fff;
}
#content .content {
  margin: 0 0 2em 290px;
}
#content .content hr {
  margin: 0 -20px;
}
#content .content .title {
  margin-bottom: 0.5em;
}
#content .content .input {
  width: 100%;
  margin-bottom: 1em;
}
#content .content .label {
  font-weight: bold;
  font-size: 0.875em;
  margin-bottom: 3px;
}
#content .content .asterisk {
  color: #cc2222;
}
#content .content .wrap {
  margin-right: -20px;
}
#content .content .cols > div {
  border-right: 20px solid transparent;
}
#content .content .cols {
  margin-bottom: 20px;
}

.connect {
  margin: 20px 0;
}
.connect .title, .connect .revoke {
  float: left;
}
.connect .title {
  margin-right: 20px;
}
.connect .revoke {
  position: relative;
  top: -3px;
}

@media only screen and (max-width: 992px) {
  #content .nav {
    width: 220px;
  }
  #content .content {
    margin-left: 240px;
  }
}
@media only screen and (max-width: 768px) {
  #content .nav {
    display: none;
  }
  #content .content {
    margin: 0 0 1em;
    border-width: 0 0 1px 0;
  }
  #content .content .wrap {
    margin: 0;
  }
  #content .content .title {
    float: none;
    margin: 0 auto;
  }
  #content .content .revoke {
    float: none;
    margin: 10px auto;
  }
  #content .content .cols {
    margin: 0;
  }
  #content .cols > div {
    margin-bottom: 10px;
  }

  .change-psw {
    float: left;
  }

  .gap {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .change-psw {
    margin: 0 auto 20px;
    float: none;
    width: 100%;
  }

  .submit {
    margin: 0 auto;
    float: none;
  }
}
