/*** VARIABLES ***

NO ALLLOWED: Class, ID or Keyframes
ALLOWED: Variable and Extension

*/
/* COLORS */
/* LINKS COLORS */
/* TYPOGRAPHY */
/* 16x3.375 = 54px */
/* 16x1.875 = 30px */
/* 16x1.375=22 */
/* 16x1.125=18 */
/* 16x0.9375=15 */
/* 16x1.125=14 */
/* STROKE OUTLINE */
/* NOTE: IE9 doesn't support text-shadow */
.btn .ico {
  font-size: 75%;
  margin-left: 8px;
}

/* BUTTONS */
/* ANIMATION */
/* RESET - http://meyerweb.com/eric/tools/css/reset/ */
html, body, applet, object, iframe, svg, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure,
header, footer, figure, details, hgroup, section, article, nav, aside, picture, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  background: transparent;
  vertical-align: baseline;
}

header, footer, figure, details, hgroup, section, article, nav, aside, picture, main {
  display: block;
}

img, object, audio, video, svg, select {
  width: 100%;
}

/* BOX SIZING FIX */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*** BASIC STYLE ***/
.no-lnk, .no-lnk:hover {
  display: block;
  color: #333;
  text-decoration: none;
}

/* It need to be before the LINK declaration */
a, .lnk {
  text-decoration: underline;
  color: #6368bd;
  border: none;
}

.lnk > .ico, .no-lnk .btn, .no-lnk .btn .ico {
  color: #6368bd;
}

a:visited, .lnk:visited {
  color: #A846B5;
}

a:hover, a:focus, .lnk:hover, .lnk:focused {
  text-decoration: none;
  color: #474ea0;
}

a:active, .lnk:active {
  color: #c03;
}

body {
  color: #333;
  text-align: center;
  line-height: 1.25em;
}

p {
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

nav ul, .main-foot ul {
  list-style: none;
}

nav a, .main-foot ul a {
  text-decoration: none;
}

em {
  font-style: italic;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

select {
  padding: 5px;
  border: 1px solid #bbb;
}

.no-li {
  list-style-type: none;
}

.no-li li {
  margin-bottom: 1em;
}

.left {
  float: left;
}

img.left {
  margin: 0 10px 15px 0;
}

.right {
  float: right;
}

img.right {
  margin: 0 0 15px 10px;
}

.inline li {
  display: inline-block;
}

.center {
  margin: auto;
  text-align: center;
}

/* CLEARFIX */
.cl:before, .cl:after, .wrapper:before, .wrapper:after, .btn:before, .btn:after {
  content: " ";
  display: table;
}

.cl:after, .wrapper:after, .btn:after {
  clear: both;
}

.cl, .wrapper, .btn {
  *zoom: 1;
}

/* IE6/7 */
/* BUTTONS */
.btn {
  transition: background-color 0.3s,color 0.3s,border 0.3s, box-shadow 0.1s;
  display: inline-block;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 0.875em;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #777;
  color: #fff;
  background: #aaa;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #777777));
  background-image: -moz-linear-gradient(#cccccc, #777777);
  background-image: -webkit-linear-gradient(#cccccc, #777777);
  background-image: linear-gradient(#cccccc, #777777);
}

.btn.expand {
  width: 100%;
}

.btn.expand .ico {
  float: right;
  line-height: 20px;
}

.btn:hover, .btn:focus {
  text-shadow: 0 0 0 transparent;
  background: #fff;
  color: #777;
}

.btn:active {
  color: #333 !important;
  box-shadow: 0 5px 5px #eee inset !important;
  border: 1px solid #333 !important;
  background: #fff !important;
  text-shadow: 0 0 0 transparent;
}

.btn.big {
  padding: 15px 20px;
  font-size: 1.125em;
}

.btn.big:active {
  box-shadow: 0 0 0 1px #eee inset, 0 5px 20px #888 inset !important;
}

.btn.white {
  color: #474ea0;
  background: #fff;
  font-weight: normal;
  border: 1px solid #fff;
  text-shadow: 0 0 0 transparent;
}

.btn.white:hover, .btn.white:focus {
  border: 1px solid #ccc;
}

.btn.white:active {
  border: 1px solid #666;
  box-shadow: inset 0 0 0 0 transparent;
}

.btn.blue {
  background: #1479b9;
  border: 1px solid #0a3d5d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2ODVjYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNWE5MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1685cb), color-stop(100%, #005a92));
  background-image: -moz-linear-gradient(#1685cb, #005a92);
  background-image: -webkit-linear-gradient(#1685cb, #005a92);
  background-image: linear-gradient(#1685cb, #005a92);
}

.btn.blue:hover, .btn.blue:focus {
  color: #1479b9;
  background: #fff;
  border: 1px solid #1479b9;
}

.btn.red {
  background: #bf4e0b;
  border: 1px solid #5f2705;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0MjIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3030), color-stop(100%, #b42222));
  background-image: -moz-linear-gradient(#ff3030, #b42222);
  background-image: -webkit-linear-gradient(#ff3030, #b42222);
  background-image: linear-gradient(#ff3030, #b42222);
}

.btn.red:hover, .btn.red:focus {
  color: #bf4e0b;
  background: #fff;
  border: 1px solid #bf4e0b;
}

.btn.purple {
  background: #ae5279;
  border: 1px solid #693149;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlNTI3OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgyMzA1NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ae5279), color-stop(100%, #823054));
  background-image: -moz-linear-gradient(#ae5279, #823054);
  background-image: -webkit-linear-gradient(#ae5279, #823054);
  background-image: linear-gradient(#ae5279, #823054);
}

.btn.purple:hover, .btn.purple:focus {
  color: #ae5279;
  background: #fff;
  border: 1px solid #ae5279;
}

/* ANIMATION */
/* Pulse Link/Btn Right */
.animate.infi {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulseRight {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes pulseRight {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* TYPOGRAPHY */
body {
  font-family: helvetica, arial, verdana, sans-serif;
}

.h1, .h2, .h3, .h4 {
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 100%;
}

.h1 {
  font-size: 1.875em;
}

.h2 {
  font-size: 1.375em;
}

.h3 {
  font-size: 1.125em;
}

.h4 {
  font-size: 0.9375em;
}

.h5, p, .btn.big {
  font-size: 0.875em;
}

#content {
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
  overflow: hidden;
}

/* COLORS */
.yellow {
  color: #ffc923;
}

/* 
.purple{color:$purple;}  // Maybe I will not use those?!?! 
*/
/* BALL NUMBERS */
.numbers li {
  font-family: 'Signika', sans-serif;
  color: #333;
}

.numbers.small li {
  text-align: center;
  width: 36px;
  height: 35px;
  line-height: 32px;
  background: url(../img/sprite.png) no-repeat -190px -70px;
  text-shadow: 1px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.05em;
  font-size: 0.9375em;
}

.numbers.small .star {
  background: url(../img/sprite.png) no-repeat -150px -70px;
  text-indent: -.05em;
}

/* ARROW BOX */
.arrow-box, .arrow-box2 {
  position: relative;
  border: 1px solid #bbb;
  background: #fff;
}

.arrow-box:after, .arrow-box:before, .arrow-box2:after, .arrow-box2:before {
  content: "";
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after, .arrow-box2:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}

.arrow-box:before, .arrow-box2:before {
  border-color: rgba(187, 187, 187, 0);
  border-bottom-color: #bbb;
  border-width: 6px;
  margin-left: -6px;
}

.arrow-box2:after, .arrow-box2:before {
  left: 310px !important;
}

/* PAGE LAYOUT */
.wrapper {
  width: 1200px;
  margin: auto;
}

.logo {
  float: left;
  display: table;
}

.logo .pic {
  display: table-cell;
  height: 72px;
  vertical-align: middle;
}

.logo img {
  vertical-align: middle;
}

.top-nav {
  min-height: 28px;
  background: #ae5279;
  z-index: 1;
}

.ul-top-nav .link {
  font-size: 75%;
}

.ul-top-nav > li {
  float: right;
  border-right: 1px solid #fff;
}

.ul-top-nav > li:first-child {
  border: 0;
}

.ul-top-nav > li > a {
  display: block;
  color: #fff;
  padding: 0 15px;
  line-height: 28px;
}

.ul-top-nav > li > a:hover, .ul-top-nav > li > a:focus {
  background: #fff;
  color: #ae5279;
}

.ul-top-nav .ico {
  font-size: 60%;
  margin-left: 5px;
}

.sub-help, .sub-inter {
  position: absolute;
  display: none;
  z-index: 1;
  padding: 10px 15px;
  line-height: 1.5em;
  border-radius: 5px;
  text-align: left;
  font-size: 0.9375em;
}
.sub-help li, .sub-inter li {
  margin-bottom: 5px;
}
.sub-help li:last-child, .sub-inter li:last-child {
  margin: 0;
}

/*.help:hover .sub-help, .inter:hover .sub-inter{display:block;}*/
.sub-help a {
  display: block;
}

.sub-help a:hover {
  text-decoration: underline;
  color: #474ea0;
}

.sub-inter .txt, .sub-inter select {
  float: left;
  margin-bottom: 10px;
}

.sub-inter {
  min-width: 300px;
}

.sub-inter select {
  width: 200px;
}

.sub-inter .txt {
  width: 100px;
  display: inline-block;
  line-height: 28px;
}

.sub-inter .btn {
  margin-top: 10px;
}

.head {
  border-bottom: 5px solid #efc048;
  background: #fff;
}

.main-nav {
  float: right;
}

.main-nav li {
  float: left;
  border-right: 1px solid #efc048;
}

.main-nav li:last-child {
  margin: 0;
}

.main-nav .ico-cart {
  color: #000;
}

.main-nav a {
  display: block;
  padding: 15px 20px;
  min-height: 42px;
}

.main-nav > span {
  display: block;
}

.main-nav .link {
  font-size: 75%;
  text-decoration: none !important;
}

.main-nav .txt {
  position: relative;
  top: -2px;
  font-size: 85%;
  font-weight: bold;
  color: #000;
}

.main-nav .active {
  border-right: 1px solid transparent;
}

.main-nav .active {
  background-color: #efc048;
  /* fallback */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjOTgxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYzA0OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc9816), color-stop(100%, #efc048));
  background-image: -moz-linear-gradient(#cc9816, #efc048);
  background-image: -webkit-linear-gradient(#cc9816, #efc048);
  background-image: linear-gradient(#cc9816, #efc048);
}

.main-nav .active a, .main-nav .active .txt, .main-nav a:hover, .main-nav a:hover .txt {
  color: #fff !important;
}

.main-nav a:hover {
  background-color: #ae5279;
  /* fallback */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiMzU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FlNTI3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8b355b), color-stop(100%, #ae5279));
  background-image: -moz-linear-gradient(#8b355b, #ae5279);
  background-image: -webkit-linear-gradient(#8b355b, #ae5279);
  background-image: linear-gradient(#8b355b, #ae5279);
}

.main-nav a:hover .ico-cart, .main-nav .active .ico-cart {
  color: #fff;
}

.main-nav a {
  transition: background 0.3s ease, color 0.25s ease;
}

.main-nav .txt {
  transition: color 0.2s ease;
}

.main-nav li:hover {
  border-right: 1px solid transparent;
}

/* erase yellow border */
.main-nav .active a:hover {
  background: transparent;
}

/* disable hover on active menu */
#content {
  background: #eee;
  text-align: left;
  padding-top: 25px;
}

.main-foot {
  border-top: 5px solid #efc048;
  background: #fff;
  text-align: left;
}

.main-foot .cols {
  margin: 20px 0;
}

.main-foot .info {
  color: #888;
  font-size: 70%;
  line-height: 150%;
}

.main-foot .partner {
  text-align: right;
}

.box-links .col20per {
  padding: 0 10px;
}

.box-links li {
  margin-bottom: .5em;
  font-size: 85%;
}

.box-links li:last-child {
  margin: 0;
}

.box-links strong {
  display: inline-block;
  margin-bottom: .5em;
  font-size: 95%;
}

.small-logo {
  float: left;
  width: 200px;
}

.logo-social {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.logo-social li {
  display: inline-block;
  margin-left: 25px;
}

.social {
  float: right;
}

.social a {
  display: block;
  text-align: center;
  font-size: 115%;
  width: 34px;
  height: 34px;
}

.social .ico {
  color: #fff;
  line-height: 34px;
}

.fb, .gp, .tw {
  border-radius: 17px;
}

.fb {
  background: #436fb5;
}

.fb .ico {
  position: relative;
  top: -2px;
  left: -2px;
}

.gp {
  background: #ff4544;
}

.gp .ico {
  position: relative;
  top: 1px;
  left: 1px;
}

.tw {
  background: #59c8ec;
}

.partner li {
  vertical-align: middle;
  margin-left: 15px;
}

.partner .card {
  width: 40px;
  height: 25px;
  border-radius: 3px;
}

/* SPRITES */
.sprite {
  display: block;
  width: 75px;
  height: 75px;
  background: url(../img/sprite.png) no-repeat 0 0;
}

/* Basic sprite size of @1x is 270x220px */
.visa, .visa:hover {
  background-position: -50px 0;
  border: 1px solid #bbb;
}

.visa-electron {
  background-position: -100px 0;
}

.gambleaddict {
  background-position: -0px -40px;
  width: 172px;
  height: 22px;
}

.geotrust {
  background-position: -150px 0;
  width: 114px;
  height: 26px;
}

.social .txt, .partner .txt {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* Hide Text but keep it SEO friendly */
/* RETINA ONLY */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .sprite {
    /* Reference the @2x Sprite */
    background-image: url(../img/sprite@2x.png);
    /* Translate the @2x sprite's dimensions back to 1x */
    background-size: 270px 220px;
    /* Half of the size of the sprite @2x */
  }
}
.media {
  width: 0px;
  height: 0;
}

.mobile {
  display: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    border: 10px solid #0ff;
  }

  /* BLUE WATER */
  .media {
    width: 1px;
  }

  .wrapper {
    width: 992px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    border: 10px solid #ff0;
  }

  /* YELLOW */
  .media {
    width: 2px;
  }

  .wrapper {
    width: 768px;
  }

  .logo .pic {
    height: 62px;
  }

  .main-nav a {
    padding: 10px 12px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    border: 10px solid #0f0;
  }

  /* GREEN */
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .media {
    width: 3px;
  }

  #content {
    font-size: 90%;
  }

  .wrapper {
    width: 100%;
  }

  .main-foot .small-logo {
    width: 150px;
  }

  .main-foot .social {
    border: 1px solid #f00;
    clear: both;
    float: none;
  }

  /* EMTD  to fix weird alignment */
  .btn.big {
    font-size: 0.9375em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    border: 10px solid #00f;
  }

  /* BLUE*/
  .media {
    width: 4px;
  }

  .box-links a {
    display: block;
    padding: 2px 0;
  }

  .box-links ul {
    border-top: 1px solid #ccc;
  }

  .box-links li {
    border-bottom: 1px solid #ccc;
  }

  .box-links li:last-child {
    border: 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  body {
    border: 10px solid #f00;
  }

  /* RED */
  .media {
    width: 5px;
  }
}
