/*** VARIABLES ***
NO ALLLOWED: Class, ID or Keyframes
ALLOWED: Variable and Extension
*/
/* COLORS */
/* LINKS COLORS */
/* TYPOGRAPHY */
/* 16x3.375 = 54px */
/* 16x1.875 = 30px */
/* 16x1.375=22 */
/* 16x1.125=18 */
/* 16x0.9375=15 */
/* 16x1.125=14 */
/* 16x0.75=12 */
/* STROKE OUTLINE */
/* NOTE: IE9 doesn't support text-shadow */
/* BUTTONS */
/* ANIMATION */
/* COLUMNS */
.box-sign {
  width: 400px;
  margin: 0 auto 8em;
  position: relative;
}
.box-sign .wrap {
  background: #fff;
  border: 2px solid #efc048;
  border-radius: 5px;
}
.box-sign .wrap a:link {
  text-decoration: none;
}
.box-sign .wrap a:hover {
  color: #372c72;
  transition: color .3s;
}
.box-sign .h1 {
  margin-bottom: .5em;
}
.box-sign .h3 {
  display: inline-block;
  margin: 0;
}
.box-sign .btn p {
  margin-bottom: .5em;
}
.box-sign .cols > a {
  padding: 15px 10px;
  display: table-cell;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
}
.box-sign .cols > a:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 0 !important;
}
.box-sign .cols > a:last-child {
  border-radius: 0 5px 5px 0;
}
.box-sign .active {
  cursor: default;
}
.box-sign .tabs-menu {
  margin-bottom: 1em;
}
.box-sign .small {
  margin: 1em;
  text-align: center;
  font-size: 0.75em;
  color: #777;
  line-height: 1.375em;
}
.box-sign .label {
  float: left;
}

.padding {
  margin: 15px;
}

.padding h1 {
  text-align: center;
  color: #ebb019;
}

.connect .ico {
  float: left;
  font-size: 24px;
  position: relative;
}
.connect .ico-facebook {
  left: -6px;
  top: -2px;
}
.connect .ico-google-plus {
  top: 1px;
}

.sign .btn.big, .sign .input, .sign .select {
  width: 100%;
  margin-bottom: .8em;
  font-size: 0.9375em;
}
.sign .or {
  font-weight: bold;
  color: #777;
  background: #fff;
  padding: 0 8px;
}
.sign .bg-or {
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
}
.sign .separator {
  position: relative;
}
.sign .hr {
  margin: 1em 0 1.5em;
}
.sign .label {
  text-align: left !important;
}
.sign .label .txt {
  margin-left: 3px;
}
.sign .tab-content .cols {
  margin: 0 0 1em;
}
.sign .forgot-psw {
  text-align: right;
}
.sign .btn.submit {
  width: 75%;
  float: right;
  margin-bottom: 0;
}
.sign .submit .ico {
  position: relative;
  margin-left: 5px;
  top: 1px;
}

.sign-in .main-foot .txt {
  text-align: right;
}

.my-left, .my-right {
  position: absolute;
  margin-top: 100px;
  width: 100%;
}

.my-left {
  left: -100%;
  padding-right: 15px;
  text-align: right;
}

.my-right {
  right: -100%;
  padding-left: 15px;
}

.my-left h1 {
  margin-bottom: .5em;
}

.box-basic {
  border: 1px solid #efc048;
  background: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  width: 400px;
  margin: 0 auto 8em;
  position: relative;
}
.box-basic h1 {
  color: #ebb019;
}
.box-basic .email {
  width: 100%;
}
.box-basic .submit {
  margin-top: 1em;
}

.forgot-psw .label, .generate-psw .label {
  margin-bottom: 1em;
}

.generate-psw .box-basic .my-left, .generate-psw .box-basic .my-right {
  margin-top: 2px;
}
.generate-psw .box-basic .my-right {
  font-size: 0.875em;
}
.generate-psw .box-basic .txt {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 0.875em;
}
.generate-psw .box-basic .input {
  width: 100%;
}
.generate-psw .box-basic .ul {
  margin-left: 1em;
}

@media only screen and (max-width: 1200px) {
  .my-left, .my-right {
    width: 72%;
    margin-top: 90px;
  }

  .my-left {
    left: -72%;
  }

  .my-right {
    right: -72%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .my-left, .my-right {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .head {
    border-bottom: 1px solid #ae5279;
  }

  .box-sign, .box-basic {
    width: 100%;
    margin-bottom: 0;
  }

  .box-sign .col6 {
    width: 50% !important;
    border-radius: 0 !important;
    display: block !important;
    margin: 0 !important;
    float: left !important;
    border: 0 !important;
    padding: 15px 0 !important;
  }

  .box-sign .wrap {
    border-radius: 0;
    border-width: 4px;
    border-left: 0;
    border-right: 0;
  }

  .box-basic {
    border: 0;
    border-bottom: 1px solid #efc048;
    margin-bottom: 1em;
  }

  .sign .col6 {
    padding: 0 !important;
  }

  .sign-in .main-foot .txt {
    text-align: center;
  }

  .info .cols {
    margin-top: 0;
  }

  #content, .main-foot, body {
    background: #fffeec;
  }

  .generate-psw .box-basic .input {
    width: 75%;
  }
  .generate-psw .box-basic .submit {
    margin-right: 12.5%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .sign .btn.submit {
    width: 100%;
  }

  .generate-psw .box-basic .input {
    width: 100%;
  }
  .generate-psw .box-basic .submit {
    margin-right: 0;
  }
}
/* Custom, iPhone Retina */
