/* Basic */
/* CLEARFIX */
.cl:before, .cl:after{content:" "; display:table;}
.cl:after{clear:both;}
.cl{*zoom:1;} /* IE6/7 */

html{box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}

.right{float:right;}
.left{float:left;}

/* Generic */
.module, .btn-box, .widget{box-shadow:none; border:1px solid #AE5279;}
.module-login .form-vertical input{border:1px solid #AE5279;}
.btn-box.small b{font-size:12px;}
.module-body{position:relative;}
.table{text-align:left; color:#000; border:2px solid #AE5279; background:#fff;}
.table td{border-top:1px solid #AE5279!important; border-right:1px solid #ccc!important; padding:10px 8px;}
.table th{color:#AE5279; font-size:16px!important; border-right:1px solid #ccc!important; padding:10px 8px;}
.alert{font-size:14px;}
.info-link{list-style:none; margin:0; font-size:16px;}
.info-link li{display:inline-block; margin-right:14px;}
.divider{border-top:1px solid #AE5279!important;}
.hidden-element{display:none;}
.modal-backdrop{background:#000!important;}

/* Navigation */
.navbar .brand{padding:0; margin:10px 0;}
.navbar .brand img{display:block; height:40px;}
.navbar .navbar-inner{border-bottom:1px solid #AE5279; box-shadow:none;}
.navbar .nav > li > a{padding:20px 15px; color:#AE5279;}
.navbar .nav a:hover{color:#fff!important; background:#AE5279!important; text-shadow:none;}
.navbar .nav a:hover .caret{border-bottom-color:#fff!important; border-top-color:#fff!important;}
.nav-collapse .dropdown-menu li + li a{margin-bottom:0!important;}
.wrapper{background:#ddd; border-bottom:1px solid #AE5279; box-shadow:none;}


/* Lateral Navigation */
.widget-menu > li > a{color:#ddd;}
.widget-menu > li > a:hover{color:#fff; background:#000;}

/* Login */
.module-login{margin-bottom:80px;}
.login .wrapper{background:url(../img/bg.jpg) no-repeat center center; background-size:cover;}

/* Font styles */
.h1, .box-chart .title{font-weight:bold; font-family:helvetica, arial, sans-serif;}
.legend, .trans-detail .control-group, .trans-detail textarea, .admin .table td, .admin .checkbox{font-family:helvetica, arial, sans-serif;}

/* Colors */
.purple{color:#AE5279;}

/* Charts */
.legend{background:#ffc; border-radius:5px; padding:12px 12px 6px; border:1px solid #aa0; color:#000;}
.legend *{line-height:100%;}
.legend strong{color:#000;}
.box-chart .title{float:left; height:30px; line-height:30px; text-transform:uppercase;}
.box-chart .select{float:right; margin:0; width:auto;}
.box-chart .canvas{width:100%; height:250px;}
.chart .select{float:left;}
.chart .option{margin-bottom:10px;}
.chart ul{margin:0; padding:0; list-style:none; float:right;}
.chart li{float:left; margin:0; padding:0; background:#f3f3f3; border:1px solid #ccc; border-right:0; padding:4px 8px; color:#333; cursor:pointer;}
.chart li:hover{background:#ccc; color:#000;}
.chart li:active{box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);}
.chart li:first-child{border-radius:5px 0 0 5px;}
.chart li:last-child{border-radius:0 5px 5px 0; border-right:1px solid #ccc;}
.chart .active{background:#333; color:#fff;}
.pie-legend{position:absolute; bottom:10px; margin:0; padding:0; list-style:none;}
.pie-legend li{margin:0 0 10px 0; color:#333; line-height:100%; cursor:pointer;}
.pie-legend span{display:block; width:15px; height:15px; float:left; margin-right:5px;}

/* TRANSLATION OVERVIEW */
.translation .table .ico{font-size:24px;}
.translation .trans{font-size:12px; max-width:300px;}
.translation .table td{vertical-align:middle;}
.icon-check{color:#090;}
.icon-warning-sign{color:#f90;}
.translation .lang{font-size:16px; font-weight:bold; width:118px;}
.translation .lang span{padding:2px 4px; background:#eee; min-width:30px; display:inline-block; margin-bottom:5px;}
.translation .lang .active{background:#060; color:#fff;}
.translation .lang .change{background:#f90; color:#000;}
.translation .lang .miss{background:#e00; color:#fff;}
.translation .lang .check{background:#05A; color:#fff;}
.translation .verify{color:#05A;}
.missing .ico{color:#e00;}
td.approved, td.modif, td.missing, td.review, td.verify{text-align:center;}

/* TRANSLATION DETAIL */
.trans-detail textarea{width:100%; font-size:16px; line-height:150%; background:#f9f9f9;}
.trans-detail .control-group{margin-bottom:15px; font-size:16px; line-height:150%; color:#333;}
.trans-detail label{font-size:18px; font-weight:bold; color:#000;}
.trans-detail .lang{font-size:24px; font-weight:bold;}
.trans-detail .box-trans{border-top:1px solid #000;}
.trans-detail .row-fluid{border-bottom:1px solid #000; padding:10px 0; margin-bottom:10px;}
.trans-detail .lnk{display:block; float:left; margin-top:10px; font-size:14px;}
.trans-detail select{width:auto; font-size:14px; font-weight:bold;}
.trans-detail .control-group + .control-group{margin-top:0; padding-top:0;}
.trans-detail .note, .trans-detail strong{color:#000;}
.trans-detail .alert{margin:10px 0;}
.trans-detail .box-verify{font-weight:bold; color:#093; margin:5px 0 0;}
.trans-detail .box-verify.not{color:#f00;}

/* NEWS */
.news .btn.txt{font-size:14px;}
.news .input{height:30px;}
.news label{color:#000; font-size:14px; font-weight:bold;}
.news .stream-composer{max-width:50em;}
.news .stream-attachment{max-width:50em; margin-bottom:10px;}
.news .stream-text{max-width:50em; color:#000;}
.news strong,.news em{color:#000;}

/* ADMIN & USERS */
.admin .special, .users .special{background:#AE5279;}
.admin .special th, .users .special th{color:#fff;}
.admin .legend{margin-bottom:20px;}
.admin .table, .users .table{margin-bottom:15px;}
.admin .table .btn-danger{margin-right:10px;}
.admin .table td, .admin .checkbox{font-size:16px;}
.admin .checkbox{color:#000; margin-bottom:10px;}
.admin strong, .users strong{color:#000;}
.admin .select{color:#000; width:auto; margin:-5px 0 0;}
.admin label{color:#000; font-size:16px;}
.admin label:hover{background:#fc0;}
.admin input[type=text], .admin input[type=password]{height:30px;}
.users .add{margin-bottom:10px;}
.users .table td{font-size:14px;}
.users .select{width:auto; margin-right:5px; color:000;}
.users .input{height:30px; line-height:30px;}
.users label{font-weight:bold; color:#000; background:#fff;}
.users .search label{line-height:30px; float:left; margin-right:7px;}
.users input[type=text]{margin-right:8px;}
.users td.wallet{text-align:right;}
.users td.wallet strong{color:#AE5279;}
.users .action .btn{margin-right:5px;}
.users .action .btn:last-child{margin-right:0;}
.users .form-user .input, .users .form-user .select{width:80%;}
.users .form-user .value{width:200px;}
.users .txt{font-weight:bold; line-height:30px; font-size:16px; display:inline-block; margin-right:3px; color:#000;}
.users .sub-title{font-size:16px;}

/* JACKPOT */
.jackpot input[type=text]{height:30px; margin:0 8px 10px 0; font-size:16px;}
.jackpot .update input[type=text]{width:80%;}
.jackpot label{font-weight:bold; color:#000; background:#fff; font-size:16px;}
.jackpot .box-value{font-size:16px; color:#000;}
.jackpot .value{margin-right:5px; font-weight:bold; color:#000;}
.jackpot .special{background:#AE5279;}
.jackpot .special th{color:#fff;}
.jackpot .num{font-weight:bold;margin-right:3px;}
.jackpot .yellow{color:#ebb019;}
.jackpot .add{margin-bottom:10px;}
.jackpot .in-value{width:200px!important;}
.jackpot .search .input{float:left;}
.jackpot .search .btn{float:left;}

/* STYLE GUIDE */
.style-guide .txt{font-size:16px; color:#000;}
.style-guide .list li{margin-bottom:10px;}
.style-guide .list a{font-weight:bold;}

/* USER PROFILE */
.user-profile .module-body, .user-profile label{color:#000; font-size:16px; line-height:150%;}
.user-profile .name, .user-profile label{font-weight:bold;}
.user-profile .box{margin-bottom:10px;}
.user-profile .box:last-child{margin:0;}

@media only screen and (max-width:980px){
/* Navigation */
.navbar .nav{border-top:1px solid #AE5279;}
.navbar .nav a{border-radius:0!important;}
.navbar .nav li{border-bottom:1px solid #AE5279; border-radius:0!important;}
.navbar .nav > li > a{padding:10px; margin-bottom:0!important;}
.navbar .nav .dropdown-menu{background:#ffc; border-radius:0!important; border-top:0!important; border-bottom:0!important;}
.navbar .nav .dropdown-menu li:last-child{border:0;}
}