.flag-sprite {
  background-image:url(../images/flags_sprite.png);
  display:block;
  height:16px;
  width:22px;
  float: left;
  margin-left: 10px;
}

.flag-sprite-en{background-position:0px -16px;}
.flag-sprite-active-en{background-position:0px 0px;}
.flag-sprite-en:hover{background-position:0px 0px;}
.flag-sprite-es{background-position:0px 16px;}
.flag-sprite-active-es{background-position:0px 32px;}
.flag-sprite-es:hover{background-position:0px 32px;}
.flag-sprite-de{background-position:0px 48px;}
.flag-sprite-active-de{background-position:0px 64px;}
.flag-sprite-de:hover{background-position:0px 64px;}