html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a.button{height:20px!important}
html{font-family:"Trebuchet MS"}
div.wrapper{width:938px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:15px}
section.header{height:110px;margin:0 0 0 0;}
section.header div.logo{background-image:url("../images/em_logo.jpg");background-repeat:no-repeat;height:110px;float:left;width:365px;}
section.header div.social{margin:25px 10px 0 0;padding:5px 0 0 2px;float:right;width:50px;height:65px;/*border:1px solid #D8DBE2;border-radius:5px;background-image:url("../images/stn_gradient.jpg");background-repeat:repeat-x;*/vertical-align:middle}
section.header div.login{font-family:Tahoma, Arial;font-size: 14px;padding-top:0;float:right;top:15px;right:285px;position:absolute;min-width:130px;/*border:1px solid #D8DBE2;border-radius:5px;background-image:url("../images/stn_gradient.jpg");background-repeat:repeat-x*/}
section.header div.login a {text-decoration: underline;font-size: 11px;}
section.header div.login div.myaccount{margin-left:12px;margin-bottom:10px;border-right:0px solid #C9C9C9;width:23%;height:70%;float:left;padding-right:5px}
section.header div.login div.loginArea{border-left:1px solid white;float:left;height:71%;margin-bottom:10px;margin-right:12px;margin-top:10px;padding-left:12px;width:65%}
section.header div.lang {font-family:Tahoma, Arial;font-size: 14px;top:15px;right:220px;position:absolute;min-width:130px;}
ul.buttonNav{float:right;}
ul.buttonNav li{margin-bottom:2px;float:left}
div.login ul li{margin-right:2px}
ul.buttonNav li a{border:1px solid #d6d6d6;border-radius:4px;height:22px;margin-right:6px;min-width:77px;display:inline-block;background-color:#f6f6f6}
ul.buttonNav li.arrowButton a:hover{background-color:#f0f0f0}
ul.buttonNav li a:hover,button:hover,a.button:hover{box-shadow:0 0 3px #808080}
ul.buttonNav li.arrowButton a{background-image:url("../images/arrow_right.png");background-repeat:no-repeat;background-position:65px center;font-size:.7em;color:#424242;text-decoration:none;line-height:20px;text-indent:7px}
ul.buttonNav li.plain a{background-color:#f8f8f8;font-size:.7em;color:#202020;text-decoration:none;line-height:20px;text-indent:7px}
ul.buttonNav li span.en{background-image:url("../images/flag_en.jpg");background-position:5px center;background-repeat:no-repeat;display:block;float:left;height:22px;width:29px}
input[type="text"],input[type="password"]{border-radius:5px;border:1px solid #e0e0e0;padding:3px;width:150px;height:23px}
ul.buttonNav li input{width:122px;height:16px;margin-right:5px}
ul.buttonNav li button{width:100px}
button,a.button{cursor:pointer;font-size:.9em;font-weight:bold;text-transform:lowercase;color:white;font-weight:bold;border-radius:5px;border:0;padding:2px 0}
button.pink,a.button.pink{background-image:url("../images/pink_button.jpg");background-repeat:repeat-x;text-transform:uppercase;margin:10px 0 3px 0;padding:6px;width:124px}
button.blue,a.button.blue{background-image:url("../images/btn_blue.jpg");background-repeat:repeat-x;line-height:19px;text-align:center;width:99px;margin-right:0}
button.grey,a.button.grey{background-image:url("../images/btn_grey.jpg");background-repeat:repeat-x;line-height:19px;text-align:center;width:99px;margin-right:0}
button.orange,a.button.orange{background-image:url("../images/orange_button.jpg");background-repeat:repeat-x;font-size:1.2em;height:27px;padding:0;height:39px;padding:7px;text-transform:none;width:auto}
button.orange,a.button2.orange{background-image:url("../images/orange_button.jpg");background-repeat:repeat-x;font-size:1.2em;height:27px;padding:0;height:39px;padding:7px;text-transform:none;width:auto}
button,a.button2{cursor:pointer;font-size:.9em;font-weight:bold;text-transform:lowercase;color:white;font-weight:bold;border-radius:5px;border:0;padding:2px 0}
button.orange.small,a.button.orange.small{background-image:url("../images/orange_button.jpg");background-repeat:repeat-x;font-size:1.2em;height:23px;padding:0;height:26px;padding:0;text-transform:none;width:auto}
button.green,a.button.green{background-image:url("../images/green_button.jpg");background-repeat:repeat-x;font-size:1.2em;height:30px;padding:0 15px}
section.nav{height:38px;width:100%;margin:5px 0 0 5px}
section.nav ul li{float:left;display:block;height:38px;min-width:130px;border:1px solid #d8dbe2}
section.nav ul li a{/*background-image:url("../images/nav_gradient.jpg");*/background-repeat:repeat-x;display:block;padding:12px 21px;color:#575757;text-align:center;text-decoration:none;font-weight:normal;font-size:14px}
section.nav ul li a:hover{background-image:url("../images/nav_gradient_hover.jpg");background-repeat:repeat-x}
section.slider{margin:5px 0 5px 5px;}
#slidedeck_frame{width:886px;height:300px}
section.content{margin-top:5px;display:inline-block}
div.aritcle100 h1{color:#5b5b5b;font-size:1,6em;font-family:Tahoma;margin-bottom:10px}
div.container,div.containerSmaller,div.articleContainer,div.smallArticleContainer,div.aritcle100{background-image:url("../images/content_container_bg.jpg");border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;position:relative;width:430px;margin:3px;z-index:0}
div.smallContainer{background:url("../images/content_container_bg.jpg") repeat-x scroll center bottom #FFF;border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;position:relative;width:276px;margin:3px;height:233px;z-index:0}
div.container{width:430px;height:197px}
div.containerSmaller{width:430px;height:167px}
div.container img,div.containerSmaller img,div.smallContainer img{position:absolute;right:0;bottom:0;z-index:-1}
h1{color:#5b5b5b;font-size:1.2em;font-family:Tahoma;margin-bottom:10px}
h2{color:#5b5b5b;font-size:1.15em;font-family:Tahoma;margin-bottom:10px}
h3{color:#5b5b5b;font-size:1em;font-family:Tahoma;font-weight:normal;margin:0 0 10px 0}
p.jackpotValueRed,span.jackpotValueRed{color:#FF1311;font-family:Arial Black;font-size:1.4em;font-weight:bold;margin:11px 0}
p.jackpotValueGrey,span.jackpotValueGrey{color:#c0c0c0;font-family:Arial Black;font-size:1.4em;font-weight:bold;margin:11px 0}
span.jackpotValueRed{margin-left:10px}
p{color:#414141;font-family:Tahoma, Arial;font-size:.9em;line-height:16px}
p.small{color:#707070;font-family:Tahoma, Arial;font-size:.8em;margin-top:20px;margin-bottom:10px}
div.counter{display:inline-block;margin-bottom:4px;margin-top:2px;width:100%}
div.counter div.group div.counterCell{background-image:url("../images/counter_digits_bg.jpg");background-repeat:repeat-x;border:1px solid #9C9B9B;box-shadow:0 0 4px #808080;color:#707070;float:left;font-size:2.3em;font-weight:bold;height:42px;line-height:41px;margin-right:2px;text-align:center;width:27px}
div.counter div.group div.counterCell:first-child{border-top-left-radius:6px;border-bottom-left-radius:6px}
div.counter div.group div.counterCell:last-child{border-top-right-radius:6px;border-bottom-right-radius:6px}
div.counter div.timeseperator{color:#707070;float:left;font-size:2.3em;font-weight:bold;height:42px;line-height:41px;margin:0 3px;width:12px}
span.label{color:#8E8E8E;display:block;float:left;font-size:.9em;width:81px}
span.greenball,span.redball{background-repeat:no-repeat;display:inline-block;font-size:1.2em;font-weight:bold;height:41px;line-height:33px;text-align:center;width:34px}
span.greenball{background-image:url("../images/green_ball.png");color:#2e5558}
span.redball{background-image:url("../images/star.png");color:#fff;color:white;background-position:-6px -8px;width:41px;line-height:44px}
a{color:#2E5558;font-size:.8em;text-decoration:none}
div.container a:hover,div.containerSmaller a:hover,div.articleContainer a:hover,div.smallArticleContainer a:hover,div.aritcle100 a:hover{text-decoration:underline}
div.container p,div.containerSmaller p,div.articleContainer p{margin-bottom:12px;margin-top:17px}
input.countrycode{width:75px}
div.nextJackpot button.orange,div.nextJackpot a.button.orange{bottom:29px;position:absolute;right:10px}
div.nextJackpot button.orange,div.nextJackpot a.button2.orange{bottom:29px;position:absolute;right:30px}
div.jackpotwon.containerSmaller button.orange,div.buyTickets.containerSmaller button.orange,div.buyTickets.containerSmaller a.button.orange{bottom:29px;position:absolute;left:24px}
div.buyTickets.containerSmaller p{padding-right:240px}
div.articleContainer{width:274px;height:197px;padding:15px}
div.articleContainer img{position:absolute;top:0;right:0}
div.articleContainer h2,div.smallArticleContainer h2,div.aritcle100 h2{color:#5b5b5b;font-size:1em;font-family:Tahoma}
img.articleImage{position:absolute;top:47px!important;left:16px!important}
div.articleContainer p{padding-left:115px;line-height:18px;font-size:.75em}
div.smallArticleContainer{width:196px;height:154px}
div.articleContainer a{padding-left:115px}
div.smallArticleContainer h2,div.aritcle100 h2{margin-bottom:10px}
p{line-height:18px;font-size:.75em;margin-bottom:10px}
div.aritcle100{width:96%;height:auto}
section.footer{margin:0 0 25px 5px;display:inline-block;float: left;background: white;background: -moz-linear-gradient(top, white 0%, #F3F1F2 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#F3F1F2));background: -webkit-linear-gradient(top, white 0%,#F3F1F2 100%);background: -o-linear-gradient(top, white 0%,#F3F1F2 100%);background: -ms-linear-gradient(top, white 0%,#F3F1F2 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f1f2',GradientType=0 );background: linear-gradient(top, white 0%,#F3F1F2 100%);border: 1px solid #DFE0E4;
-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
#footer a {color:#5780b5;}
.footer_wrapper_1 {float: left;padding: 40px 0 0 20px;max-width: 500px;}
.footer_wrapper_2 {float: right;padding: 34px 20px 30px 30px;width: 520px;}
.footer_wrapper_2 p{font-size: 10px;font-family: Tahoma, Arial, sans-serif;color: #828282;line-height: 135%;}
.links_floated_footer {padding-bottom: 25px;font-size: 10px;font-family: Tahoma, Arial, sans-serif;}
.links_floated_footer a {font-size: 10px;font-family: Tahoma, Arial, sans-serif;text-decoration: underline;color: #5780B5;}
.links_floated_disclaimer {padding-bottom: 21px;}
section.footer div.footerContainer{height:auto;float:left}
section.footer div.footerContainer.responsible{width:240px}
section.footer div.footerContainer.latestArticles{width:367px;padding:0 5px}
section.footer div.footerContainer.toc{width:317px}
section.footer div.footerContainer h2{color:#a5a5a5;font-size:1em;font-weight:bold;padding-bottom:10px;border-bottom:1px solid #d6d6d6}
div.colA{padding:10px;width:25%;float:left}
div.colB{padding:10px;width:56%;float:left}
div.colC{padding:10px;width:58%;float:left}
div.colD{padding:10px;width:35%;float:left}
div.colE{padding:10px;width:65%;float:left}
div.colF{padding:10px 0;width:72%;float:left}
div.colG{padding:10px 5px;width:23%;float:left}
div.footerContainer.responsible div.twitter{background-image:url("../images/responsible_gaming.jpg");background-repeat:no-repeat;width:60px;height:80px}
div.footerContainer p{font-size:.7em;color:#626262}
p.lightBlue{color:#0b639d!important}
div.footerContainer.responsible h3{color:#A5A5A5;font-size:1.2em;margin-top:50px;margin-bottom:10px}
ul.lotteryLinkList li a{color:#0c649e;font-size:.7em;text-decoration:none}
ul.articleLinkList li{margin:10px 0}
ul.articleLinkList li a{color:#0B639D;font-size:.8em;text-decoration:none}
div.footerContainer.toc p{margin-top:10px}
article{width:607px;float:left;padding:10px}
aside{width:309px;height:auto;float:left;padding:10px 0 10px 10px}
div.medArticle{background-image:url("../images/grey_gradient_big.jpg");background-position:center bottom;background-repeat:repeat-x;background-color:#fff;padding:15px;border:1px solid #EDEEF2;border-radius:10px;margin-bottom:5px;display:inline-block;margin:3px}
div.medArticle h2{margin-bottom:15px}
div.medArticle a{font-size:1em}
div.medArticle button,div.medArticle a.button{margin-left:auto;margin-right:auto}
div.nextJackpot.smallContainer button,div.nextJackpot.smallContainer a.button{position:static}
div.smallContainer.lotteryList h2{padding:10px 20px}
table.lotteryList{width:100%}
table.lotteryList tr td.countryFlag{width:22px;position:relative;padding-left:3px}
table.lotteryList tr td.lotteryLogo{width:43px}
table.lotteryList tr td.lotteryName{width:143px}
table.lotteryList tr{position:relative;height:45px;background-repeat:repeat-x}
table.lotteryList tr td{font-size:.8em;margin:0 3px;vertical-align:middle}
table.lotteryList tr.grey{background-image:url(../images/grey_bg_list.jpg)}
table.lotteryList tr.red{background-image:url(../images/red_bg_list.jpg)}
table.lotteryList tr.red td{color:white}
div.flag{top:0;left:0}
.abs{position:absolute}
.right{float:right}
div.smallContainer.lotteryList{padding:0;width:306px;position:static}
td.lotteryLogo{background-repeat:no-repeat;background-position:center center;width:35px;height:45px;display:inline-block;float:left}
td.lotteryLogo.powerBall{background-image:url(../images/power_ball_logo_xs.png)}
td.lotteryLogo.em{background-image:url(../images/em_logo_xs.png)}
td.lotteryLogo.nwc{background-image:url(../images/nwc_lotto_logo_xs.png)}
td.lotteryLogo.megamillion{background-image:url(../images/mega_million_logo_xs.png)}
span.lotteryName{float:left;height:34px}
strong{font-weight:bold;}
h2 a{font-size:.75em}
ul.sideNav li a{background-image:url("../images/nav_gradient.jpg");background-repeat:repeat-x;display:inline-block;padding:5px;color:#575757;text-align:center;text-decoration:none;font-weight:normal;font-size:.9em;width:300px}
div.smallContainer.sideNav{padding:2px}
ul.sideNav li a:hover{background-image:url("../images/nav_gradient_hover.jpg");background-repeat:repeat-x;cursor:pointer}
div.latestJackpotDetailed{border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;position:relative;width:430px;margin:3px;z-index:-1}
article{padding-left:0}
section.contentContainer{border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;z-index:-1;width:96%;margin-bottom:10px;background:url("../images/content_container_bg.jpg") repeat-x scroll center bottom #FFF}
table.zebraTable{float:none;clear:both;color:#414141;font-family:"Trebuchet MS";font-size:.9em;line-height:16px}
table.zebraTable{margin:0;padding:0;font-size:12px;width:100%;margin-top:3px}
table.zebraTable tr td{width:211px;padding:3px 0;font-size:1.2em;border-bottom:1px dotted #D0D0D0}
div.formFieldWrapper{padding:15px}
section.lightBlue{border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;z-index:-1;width:96%;margin-bottom:10px;background-color:#becbe0}
img.calendar{margin-left:15px}
span.calendar{background-image:url('../images/calendar.jpg');background-repeat:no-repeat;width:18px;height:18px;display:inline-block;margin-left:22px}
section.contentContainer h2{margin-bottom:10px}
ul.linkList li{float:left;margin-right:15px}
div.contentContainer100{background-image:url("../images/content_container_bg.jpg");background-repeat:repeat-x;border:1px solid #EDEEF2;border-radius:10px;float:left;padding:15px;margin:3px;z-index:0;width:96%;background-position:center bottom;position:relative;display:inline}
div.lotteryInfoContainer h2,div.lotteryInfoContainer img,div.smallContainer.buyTickets h2{margin-bottom:20px}
p.title{line-height:25px}
div.lotteryInfoContainer div.colA{text-align:center}
div.columnWrapper{float:none;clear:both;height:auto;overflow:auto}
.clear{float:none;clear:both}
.marginTop{margin-top:20px!important}
.marginBottom{margin-bottom:20px!important}
.center{text-align:center}
select{padding:5px;border-radius:5px;border:1px solid #f0f0f0}div.ticketsArea{width:667px;float:left;padding:10px}
div.ticketsCart{width:226px;float:left;padding:10px;background-color:#e4e4e4}
div.ticketsCart p.jackpotValueRed{margin:20px 0;font-size:1.7em}
div.ticketsCart h2{margin-top:15px;font-size:1.2em}
div.ticketsCart h3{margin-bottom:15px}
div.ticketsCart span.label{width:75px;text-indent:12px}
div.ticketsCart p.daysRemaining{font-size:.9em}
article.ticketsContainer{width:99.5%;border:1px solid #d8dbe2;border-radius:5px;padding:0;background-color:#f2f2f2}
div.ticketContainerWrapper{display:inline-block;width:129px;float:left;margin-bottom:10px}
div.boxContainer{background-color:#54cb40;border-radius:5px;display:inline-block;color:white;font-weight:bold;margin-bottom:5px;font-size:1em;width:100%}
div.boxBlackContainer{background-color:#71a5ae;border-radius:5px;display:inline-block;color:white;font-weight:bold;margin-bottom:5px;font-size:1.5em;width:90%;text-align:center;padding:10px;line-height:30px;font-size:1.2em}
div.seperator{border-bottom:1px solid #B7B7B7;border-top:1px solid #E7E7E7;margin:5px 0;height:1px;display:block;width:100%;float:left}
div.ticketContainer{margin-right:auto;padding:2px;background-color:#71a5ae;width:122px;border-radius:3px;margin-left:auto}
div.ticketContainer p{color:#fff;font-weight:bold;font-size:.8em;text-align:center;margin-bottom:0!important;display:block}
div.ticketContainer a{color:#fff;font-weight:bold;text-decoration:underline}
div.ticketContainer a:hover{text-decoration:none}
div.ticketContainer div.number{background-image:url("../images/grey_gradient_button.jpg");background-repeat:repeat-x;border-radius:3px;box-shadow:0 0 4px #505050;color:#353535;cursor:pointer;float:left;font-family:Trebuchet MS;font-size:.8em;height:18px;margin:3px;text-align:center;width:18px;line-height:16px}
div.ticketContainer div.number:hover{background-image:url("../images/grey_gradient_button_hover.jpg");background-repeat:repeat-x;box-shadow:0 0 5px #505050}
div.ticketContainer div.number.clicked{background-image:url("../images/grey_gradient_button_clicked.jpg");background-repeat:repeat-x;box-shadow:0 0 6px #000,0 0 3px #000;font-weight:bold;font-size:.9em;line-height:18px}
div.numberSelectedContainer{background-color:#fff;border-radius:3px;box-shadow:-1 -1 2px #505050;color:#353535;float:left;font-family:Trebuchet MS;font-size:1em;height:25px;margin:3px;text-align:center;width:25px;line-height:25px;display:inline-block}
span.questionTipPink{background-image:url("../images/question_tip.png");background-repeat:no-repeat;width:12px;height:13px;display:inline-block;cursor:pointer;margin-left:10px;margin-top:10px}
a.clearLines{color:#000}
h2.blue{color:#1d64bb}
div.bonusNumbers,div.standardNumbers{display:inline-block}
ul.ticketMode{float:none;clear:both;margin-bottom:10px;margin-top:-11px;display:inline-block;margin-left:-11px}
ul.ticketMode li{width:100px;height:30px;float:left}
ul.ticketMode li.active a{color:gray;background-color:#F2F2F2;font-weight:bold;font-size:1em;border-top:1px solid #D8DBE2;border-left:1px solid #D8DBE2}
ul.ticketMode li a{display:block;color:#fff;background-color:#808080;line-height:30px;text-align:center;border-right:1px solid #F2F2F2}
div.ticketBoxContainer{display:none}.flag{background-image:url(../images/flags.png);display:block;font-size:0;height:11px;width:16px;float:left;margin-top:5px;margin-left:10px}
.flag-ad{background-position:-16px 0}
.flag-ae{background-position:-32px 0}
.flag-af{background-position:-48px 0}
.flag-ag{background-position:-64px 0}
.flag-ai{background-position:-80px 0}
.flag-al{background-position:-96px 0}
.flag-am{background-position:-112px 0}
.flag-an{background-position:-128px 0}
.flag-ao{background-position:-144px 0}
.flag-aq{background-position:-160px 0}
.flag-ar{background-position:-176px 0}
.flag-as{background-position:-192px 0}
.flag-at{background-position:0 -11px}
.flag-au{background-position:-16px -11px}
.flag-aw{background-position:-32px -11px}
.flag-ax{background-position:-48px -11px}
.flag-az{background-position:-64px -11px}
.flag-ba{background-position:-80px -11px}
.flag-bb{background-position:-96px -11px}
.flag-bd{background-position:-112px -11px}
.flag-be{background-position:-128px -11px}
.flag-bf{background-position:-144px -11px}
.flag-bg{background-position:-160px -11px}
.flag-bh{background-position:-176px -11px}
.flag-bi{background-position:-192px -11px}
.flag-bj{background-position:0 -22px}
.flag-bl{background-position:-16px -22px}
.flag-bm{background-position:-32px -22px}
.flag-bn{background-position:-48px -22px}
.flag-bo{background-position:-64px -22px}
.flag-br{background-position:-80px -22px}
.flag-bs{background-position:-96px -22px}
.flag-bt{background-position:-112px -22px}
.flag-bv{background-position:-128px -22px}
.flag-bw{background-position:-144px -22px}
.flag-by{background-position:-160px -22px}
.flag-bz{background-position:-176px -22px}
.flag-ca{background-position:-192px -22px}
.flag-cc{background-position:0 -33px}
.flag-cd{background-position:-16px -33px}
.flag-cf{background-position:-32px -33px}
.flag-cg{background-position:-48px -33px}
.flag-ch{background-position:-64px -33px}
.flag-ci{background-position:-80px -33px}
.flag-ck{background-position:-96px -33px}
.flag-cl{background-position:-112px -33px}
.flag-cm{background-position:-128px -33px}
.flag-cn{background-position:-144px -33px}
.flag-co{background-position:-160px -33px}
.flag-cr{background-position:-176px -33px}
.flag-cu{background-position:-192px -33px}
.flag-cv{background-position:0 -44px}
.flag-cx{background-position:-16px -44px}
.flag-cy{background-position:-32px -44px}
.flag-cz{background-position:-48px -44px}
.flag-de{background-position:-64px -44px}
.flag-dj{background-position:-80px -44px}
.flag-dk{background-position:-96px -44px}
.flag-dm{background-position:-112px -44px}
.flag-do{background-position:-128px -44px}
.flag-dz{background-position:-144px -44px}
.flag-ec{background-position:-160px -44px}
.flag-ee{background-position:-176px -44px}
.flag-eg{background-position:-192px -44px}
.flag-eh{background-position:0 -55px}
.flag-er{background-position:-16px -55px}
.flag-es{background-position:-32px -55px}
.flag-et{background-position:-48px -55px}
.flag-fi{background-position:-64px -55px}
.flag-fj{background-position:-80px -55px}
.flag-fk{background-position:-96px -55px}
.flag-fm{background-position:-112px -55px}
.flag-fo{background-position:-128px -55px}
.flag-fr{background-position:-144px -55px}
.flag-ga{background-position:-160px -55px}
.flag-gb{background-position:-176px -55px}
.flag-en{background-position:-176px -55px}
.flag-gd{background-position:-192px -55px}
.flag-ge{background-position:0 -66px}
.flag-gf{background-position:-16px -66px}
.flag-gg{background-position:-32px -66px}
.flag-gh{background-position:-48px -66px}
.flag-gi{background-position:-64px -66px}
.flag-gl{background-position:-80px -66px}
.flag-gm{background-position:-96px -66px}
.flag-gn{background-position:-112px -66px}
.flag-gp{background-position:-128px -66px}
.flag-gq{background-position:-144px -66px}
.flag-gr{background-position:-160px -66px}
.flag-gs{background-position:-176px -66px}
.flag-gt{background-position:-192px -66px}
.flag-gu{background-position:0 -77px}
.flag-gw{background-position:-16px -77px}
.flag-gy{background-position:-32px -77px}
.flag-hk{background-position:-48px -77px}
.flag-hm{background-position:-64px -77px}
.flag-hn{background-position:-80px -77px}
.flag-hr{background-position:-96px -77px}
.flag-ht{background-position:-112px -77px}
.flag-hu{background-position:-128px -77px}
.flag-id{background-position:-144px -77px}
.flag-ie{background-position:-160px -77px}
.flag-il{background-position:-176px -77px}
.flag-im{background-position:-192px -77px}
.flag-in{background-position:0 -88px}
.flag-io{background-position:-16px -88px}
.flag-iq{background-position:-32px -88px}
.flag-ir{background-position:-48px -88px}
.flag-is{background-position:-64px -88px}
.flag-it{background-position:-80px -88px}
.flag-je{background-position:-96px -88px}
.flag-jm{background-position:-112px -88px}
.flag-jo{background-position:-128px -88px}
.flag-jp{background-position:-144px -88px}
.flag-ke{background-position:-160px -88px}
.flag-kg{background-position:-176px -88px}
.flag-kh{background-position:-192px -88px}
.flag-ki{background-position:0 -99px}
.flag-km{background-position:-16px -99px}
.flag-kn{background-position:-32px -99px}
.flag-kp{background-position:-48px -99px}
.flag-kr{background-position:-64px -99px}
.flag-kw{background-position:-80px -99px}
.flag-ky{background-position:-96px -99px}
.flag-kz{background-position:-112px -99px}
.flag-la{background-position:-128px -99px}
.flag-lb{background-position:-144px -99px}
.flag-lc{background-position:-160px -99px}
.flag-li{background-position:-176px -99px}
.flag-lk{background-position:-192px -99px}
.flag-lr{background-position:0 -110px}
.flag-ls{background-position:-16px -110px}
.flag-lt{background-position:-32px -110px}
.flag-lu{background-position:-48px -110px}
.flag-lv{background-position:-64px -110px}
.flag-ly{background-position:-80px -110px}
.flag-ma{background-position:-96px -110px}
.flag-mc{background-position:-112px -110px}
.flag-md{background-position:-128px -110px}
.flag-me{background-position:-144px -110px}
.flag-mf{background-position:-160px -110px}
.flag-mg{background-position:-176px -110px}
.flag-mh{background-position:-192px -110px}
.flag-mk{background-position:0 -121px}
.flag-ml{background-position:-16px -121px}
.flag-mm{background-position:-32px -121px}
.flag-mn{background-position:-48px -121px}
.flag-mo{background-position:-64px -121px}
.flag-mp{background-position:-80px -121px}
.flag-mq{background-position:-96px -121px}
.flag-mr{background-position:-112px -121px}
.flag-ms{background-position:-128px -121px}
.flag-mt{background-position:-144px -121px}
.flag-mu{background-position:-160px -121px}
.flag-mv{background-position:-176px -121px}
.flag-mw{background-position:-192px -121px}
.flag-mx{background-position:0 -132px}
.flag-my{background-position:-16px -132px}
.flag-mz{background-position:-32px -132px}
.flag-na{background-position:-48px -132px}
.flag-nc{background-position:-64px -132px}
.flag-ne{background-position:-80px -132px}
.flag-nf{background-position:-96px -132px}
.flag-ng{background-position:-112px -132px}
.flag-ni{background-position:-128px -132px}
.flag-nl{background-position:-144px -132px}
.flag-no{background-position:-160px -132px}
.flag-np{background-position:-176px -132px}
.flag-nr{background-position:-192px -132px}
.flag-nu{background-position:0 -143px}
.flag-nz{background-position:-16px -143px}
.flag-om{background-position:-32px -143px}
.flag-pa{background-position:-48px -143px}
.flag-pe{background-position:-64px -143px}
.flag-pf{background-position:-80px -143px}
.flag-pg{background-position:-96px -143px}
.flag-ph{background-position:-112px -143px}
.flag-pk{background-position:-128px -143px}
.flag-pl{background-position:-144px -143px}
.flag-pm{background-position:-160px -143px}
.flag-pn{background-position:-176px -143px}
.flag-pr{background-position:-192px -143px}
.flag-ps{background-position:0 -154px}
.flag-pt{background-position:-16px -154px}
.flag-pw{background-position:-32px -154px}
.flag-py{background-position:-48px -154px}
.flag-qa{background-position:-64px -154px}
.flag-re{background-position:-80px -154px}
.flag-ro{background-position:-96px -154px}
.flag-rs{background-position:-112px -154px}
.flag-ru{background-position:-128px -154px}
.flag-rw{background-position:-144px -154px}
.flag-sa{background-position:-160px -154px}
.flag-sb{background-position:-176px -154px}
.flag-sc{background-position:-192px -154px}
.flag-sd{background-position:0 -165px}
.flag-se{background-position:-16px -165px}
.flag-sg{background-position:-32px -165px}
.flag-sh{background-position:-48px -165px}
.flag-si{background-position:-64px -165px}
.flag-sj{background-position:-80px -165px}
.flag-sk{background-position:-96px -165px}
.flag-sl{background-position:-112px -165px}
.flag-sm{background-position:-128px -165px}
.flag-sn{background-position:-144px -165px}
.flag-so{background-position:-160px -165px}
.flag-sr{background-position:-176px -165px}
.flag-st{background-position:-192px -165px}
.flag-sv{background-position:0 -176px}
.flag-sy{background-position:-16px -176px}
.flag-sz{background-position:-32px -176px}
.flag-tc{background-position:-48px -176px}
.flag-td{background-position:-64px -176px}
.flag-tf{background-position:-80px -176px}
.flag-tg{background-position:-96px -176px}
.flag-th{background-position:-112px -176px}
.flag-tj{background-position:-128px -176px}
.flag-tk{background-position:-144px -176px}
.flag-tl{background-position:-160px -176px}
.flag-tm{background-position:-176px -176px}
.flag-tn{background-position:-192px -176px}
.flag-to{background-position:0 -187px}
.flag-tr{background-position:-16px -187px}
.flag-tt{background-position:-32px -187px}
.flag-tv{background-position:-48px -187px}
.flag-tw{background-position:-64px -187px}
.flag-tz{background-position:-80px -187px}
.flag-ua{background-position:-96px -187px}
.flag-ug{background-position:-112px -187px}
.flag-um{background-position:-128px -187px}
.flag-us{background-position:-144px -187px}
.flag-uy{background-position:-160px -187px}
.flag-uz{background-position:-176px -187px}
.flag-va{background-position:-192px -187px}
.flag-vc{background-position:0 -198px}
.flag-ve{background-position:-16px -198px}
.flag-vg{background-position:-32px -198px}
.flag-vi{background-position:-48px -198px}
.flag-vn{background-position:-64px -198px}
.flag-vu{background-position:-80px -198px}
.flag-wf{background-position:-96px -198px}
.flag-ws{background-position:-112px -198px}
.flag-ye{background-position:-128px -198px}
.flag-yt{background-position:-144px -198px}
.flag-za{background-position:-160px -198px}
.flag-zm{background-position:-176px -198px}
.flag-zw{background-position:-192px -198px}.skin-slidedeck{position:relative;padding:6px 5px 6px;background:url('/images/slider/back.png') 0 0 #d7d7d7;border:14px solid #fff;box-shadow:0 0 5px rgba(0,0,0,0.2);-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2)}
.skin-slidedeck dl.slidedeck{position:relative;width:100%;height:100%;margin:0;padding:0}
.skin-slidedeck dl.slidedeck>dd{position:relative;height:294px;margin:0;border-right:5px solid #d7d7d7;background:url('../images/slider/slides.png') bottom left #d7d7d7;overflow:hidden}
.skin-slidedeck dl.slidedeck>dt{position:relative;cursor:pointer;height:43px;line-height:38px;font-size:12px;font-weight:bold;font-family:"Futura Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;letter-spacing:1px;background:url('../images/slider/spines.png') top left #d7d7d7;color:#505050;margin:0;padding:0}
.skin-slidedeck dl.slidedeck dt.spine:hover{color:#000;background-position:center left}
.skin-slidedeck dl.slidedeck dt.spine.active,.skin-slidedeck dl.slidedeck dt.spine.active:hover{cursor:default;color:#fff;background-position:bottom left}
.skin-slidedeck dl.slidedeck dt.spine .index{margin-bottom:2px;font-size:24px;font-weight:normal;font-family:Arial,Helvetica,sans-serif;color:#505050}
.skin-slidedeck dl.slidedeck dt.spine.active .index{margin-bottom:0}
.skin-slidedeck dl.slidedeck dt.spine:hover .index{color:#000}
.skin-slidedeck dl.slidedeck dt.spine.active .index{color:#fff}
.skin-slidedeck dl.slidedeck .activeCorner{margin-left:-6px;background-image:url('../images/slider/corner.png');width:12px;height:25px}
.skin-slidedeck dl.slidedeck dd.slide ul.slidesVertical>li{overflow:hidden;padding:10px}
.skin-slidedeck dl.slidedeck ul.verticalSlideNav{height:70px;width:25px;background:0;position:relative;overflow:hidden;padding:15px 0 0;margin:0;top:0;left:125px;-webkit-transform:rotate(90deg);-webkit-transform-origin:-7px 0;-moz-transform:rotate(90deg);-moz-transform-origin:-7px 0;-o-transform:rotate(90deg);-o-transform-origin:-7px 0}
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li{position:relative;width:25px;height:12px;line-height:12px;padding:0;margin:0;overflow:hidden;float:left;clear:left}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li.arrow{display:none}
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li a{position:relative;display:block;padding:12px 0 0 0;margin:0;width:25px;height:0;overflow:hidden;line-height:12px;background:url('../images/slider/vertical-nav.png') 0 0 no-repeat}
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li.active a{background-position:0 -24px}
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav li.active a{background-position:0 -12px}
dl.slidedeck dd.slide ul.verticalSlideNav li a:hover{opacity:.75;-moz-opacity:.75;-webkit-opacity:.75;-khtml-opacity:.75;-ms-filter:"Alpha(opacity=75)";filter:Alpha(opacity=75)}#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left}
#facebox .popup{position:relative;border:3px solid rgba(0,0,0,0);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);box-shadow:0 0 18px rgba(0,0,0,0.4)}
#facebox .content{display:table;width:370px;padding:10px;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
#facebox .content>p:first-child{margin-top:0}
#facebox .content>p:last-child{margin-bottom:0}
#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:#fff}
#facebox .close img{opacity:.3}
#facebox .close:hover img{opacity:1.0}
#facebox .loading{text-align:center}
#facebox .image{text-align:center}
#facebox img{border:0;margin:0}
#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}
.facebox_hide{z-index:-100}
.facebox_overlayBG{background-color:#000;z-index:99}table.fillintable{padding:10px;width:100%;padding-bottom:100px}
table.fillintable input[type="text"],table.fillintable input[type="password"]{width:98%}
table.fillintable select{border:1px solid #a0a0a0;border-radius:3px;width:99.5%}
table.fillintable select.countrycode{width:20%;margin-right:14px;padding:5px}
table.fillintable input.mobile{width:75%}
table.fillintable label{font-size:.75em;font-weight:bold;color:#707070}
table.fillintable td{text-align:left;padding:5px}
table.fillintable tr{margin:10px 0}
table.fillintable label.error{color:#f00}#tooltip{position:absolute;z-index:3000;border:2px solid #71A5AE;background-color:#eee;padding:5px;opacity:.85;width:400px;color:#c50c4f}
#tooltip h3,#tooltip div{margin:0}li.plain{position:relative}
div.language-change-wrapper{position:absolute;top:0;background-color:#F0F0F0;width:129px;margin-top:24px;opacity:.8;right:11px;box-shadow:2px 5px 15px #505050}
div.language-change-wrapper a.language-menu{width:100%;font-family:Arial;font-size:.75em;margin:0;height:19px;line-height:21px;text-indent:6px;border-bottom:1px solid #E0E0E0;padding:2px;color:#202020;background-color:#f0f0f0}
div.language-change-wrapper a.language-menu:hover{background-color:#e5e5e5}