html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none;font-family:Tahoma,Arial;font-size:1em;padding:0 20px;color:#414141}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

a.button{height:20px !important}
i{font-style:italic}
html{font-family:"Trebuchet MS"}

div.wrapper{width:938px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:15px}

section.header{height:79px}
section.header div.logo{background-image:url(../images/em_pel_logo.jpg);background-repeat:no-repeat;height:70px;float:left;width:365px;margin:14px 0 0 45px}
section.header div.login{font-family:Tahoma,Arial;font-size:14px;padding-top:0;float:right;margin-top:15px;margin-right:85px;min-width:130px}
section.header div.login a{text-decoration:underline;font-size:11px}

ul.buttonNav li span.en{background-image:url(../images/flag_en.jpg);background-position:5px center;background-repeat:no-repeat;display:block;float:left;height:22px;width:29px}

input[type=text],input[type=password]{border:1px solid #e0e0e0;padding:3px;width:150px;height:23px}

button,a.button{cursor:pointer;font-size:.9em;font-weight:700;text-transform:lowercase;color:#FFF;font-weight:700;border:0;padding:2px 0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-radius:4px}
button.blue,a.button.blue{background-image:url(../images/btn_blue.jpg);background-repeat:repeat-x;line-height:19px;text-align:center;width:99px;margin-right:0}
button.orange,a.button.orange{background-image:url(../images/orange_button.jpg);background-repeat:repeat-x;font-size:1.2em;height:27px;padding:0;height:39px;padding:7px;text-transform:none;width:auto;text-decoration:none;text-transform:lowercase}
button.orange,a.button2.orange{background-image:url(../images/orange_button.jpg);background-repeat:repeat-x;font-size:1.2em;height:27px;padding:0;height:39px;padding:7px;text-transform:none;width:auto}
button,a.button2{cursor:pointer;font-size:.9em;font-weight:700;text-transform:lowercase;color:#FFF;font-weight:700;border:0;padding:2px 0}
button.orange.small,a.button.orange.small{background-image:url(../images/orange_button.jpg);background-repeat:repeat-x;font-size:1.1em;height:23px;padding:4px;height:26px;text-transform:none;width:auto}
button.green,a.button.green{background-image:url(../images/green_button.jpg);background-repeat:repeat-x;font-size:1.2em;height:30px;padding:5px 15px;text-decoration:none}

section.nav{height:40px;width:935px;margin:5px 0 0;background:-moz-linear-gradient(top,white 0,#f3f1f2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#f3f1f2));background:-webkit-linear-gradient(top,white 0,#f3f1f2 100%);background:-o-linear-gradient(top,white 0,#f3f1f2 100%);background:-ms-linear-gradient(top,white 0,#f3f1f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f1f2',GradientType=0);background:linear-gradient(top,white 0,#f3f1f2 100%);border:1px solid #edeef2;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px}
section.nav ul li{float:left;display:block;height:38px;min-width:110px;border-right:1px solid #d8dbe2}
section.nav ul li.navLast{float:left;display:block;height:38px;min-width:100px;border-right:0 solid #d8dbe2}
section.nav ul li.navFirst{width:80px}
section.nav ul li a{background-repeat:repeat-x;display:block;padding:12px;color:#575757;text-align:center;text-decoration:none;font-weight:400;font-size:14px}
section.nav ul li a.current{font-weight:700}

section.slider{margin:5px}
#slidedeck_frame{width:920px;height:300px}

section.content{margin-top:5px;display:inline-block}

div.container,div.containerSmaller,div.articleContainer,div.smallArticleContainer,div.aritcle100,div.wideBanner,div.smallBanner,div.smallBanner2,section.resultsInfo{background:-moz-linear-gradient(top,white 0,#f3f1f2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#f3f1f2));background:-webkit-linear-gradient(top,white 0,#f3f1f2 100%);background:-o-linear-gradient(top,white 0,#f3f1f2 100%);background:-ms-linear-gradient(top,white 0,#f3f1f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f1f2',GradientType=0);background:linear-gradient(top,white 0,#f3f1f2 100%);border:1px solid #edeef2;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px;float:left;padding:10px 15px;position:relative;width:430px;margin:3px;z-index:0}
div.smallContainer{background:-moz-linear-gradient(top,white 0,#f3f1f2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#f3f1f2));background:-webkit-linear-gradient(top,white 0,#f3f1f2 100%);background:-o-linear-gradient(top,white 0,#f3f1f2 100%);background:-ms-linear-gradient(top,white 0,#f3f1f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f1f2',GradientType=0);background:linear-gradient(top,white 0,#f3f1f2 100%);border:1px solid #edeef2;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px;padding:15px;margin-bottom:5px;display:inline-block;margin:3px;width:275px;position:relative;z-index:0}
div.container{width:430px;height:197px}
div.container img,div.containerSmaller img,div.smallContainer img{position:absolute;right:0;bottom:0;z-index:-1}

div.smallBanner img{position:absolute;right:0;bottom:0;z-index:-1}

h1{color:#5780b5;font-size:1.2em;font-family:Arial,Tahoma;margin-bottom:10px;background:url(../images/icon_info.gif) no-repeat;padding:0 0 0 25px;height:20px}
h2{color:#5b5b5b;font-size:1.15em;font-family:Arial,Tahoma;margin-bottom:10px}
h2.date{font-size:1em}
h3{color:#5b5b5b;font-size:1.15em;font-family:Arial,Tahoma;margin-bottom:10px;text-decoration:none}
h4{color:#5b5b5b;font-size:1em;font-family:Arial,Tahoma;margin:15px 0;text-decoration:none}

.contentContainer h4{color:#5b5b5b;font-size:1em;font-family:Arial,Tahoma;margin:0;text-decoration:none}
span.date{font-size:.8em;color:#5b5b5b}
span.author{font-size:.8em;color:#5b5b5b}

p.jackpotValueRed,span.jackpotValueRed{color:#ff1311;font-family:Arial #000;font-size:1.4em;font-weight:700;margin:20px 0}
p.jackpotValueGrey,span.jackpotValueGrey{color:silver;font-family:Arial #000;font-size:1.2em;font-weight:700;margin:11px 0}

span.smallFont{font-size:12px;font-weight:400;font-family:Arial,Tahoma}

p{color:#414141;font-family:Tahoma,Arial;font-size:.9em;line-height:16px}
text{color:#414141;font-family:Tahoma,Arial;font-size:.9em;line-height:16px}
p.small{color:#707070;font-family:Tahoma,Arial;font-size:.8em;margin-top:20px;margin-bottom:10px}
p.underline{text-decoration:underline}
div.counter{display:inline-block;margin-bottom:4px;margin-top:2px;width:100%}
div.counter div.group div.counterCell{background-image:url(../images/counter_digits_bg.jpg);background-repeat:repeat-x;border:1px solid #9c9b9b;box-shadow:0 0 4px gray;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-radius:4px;color:#707070;float:left;font-size:2.3em;font-weight:700;height:42px;line-height:41px;margin-right:2px;text-align:center;width:27px}
div.counter div.timeseperator{color:#707070;float:left;font-size:2.3em;font-weight:700;height:42px;line-height:41px;margin:0 3px;width:12px}

span.label{color:#8e8e8e;display:block;float:left;font-size:.9em;width:81px}
span.greenball,span.redball{background-repeat:no-repeat;display:inline-block;font-size:1em;font-weight:700;height:41px;line-height:33px;text-align:center;width:33px}
span.greenball{background-image:url(../images/green_ball.png);color:#2e5558}
span.redball{background-image:url(../images/star.png);color:#fff;color:#FFF;width:41px;background-position:-6px -8px;width:40px;line-height:44px}

a{color:#5780b5;font-size:.8em;text-decoration:underline;font-family:Arial,Tahoma}
p a{font-size:1em}
p a:hover{font-size:1em;color:#5b5b5b}
a:hover{font-size:.8em;text-decoration:underline;font-family:Arial,Tahoma;color:#5b5b5b}

ul,li{margin:1px;list-style-position:inside;list-style-image:url(../images/list_bullet.gif)}

.contentContainer100 ul li{margin-left:30px;list-style-position:inside;list-style-image:url(../images/list_bullet.gif)}

div.container a:hover,div.containerSmaller a:hover,div.articleContainer a:hover,div.smallArticleContainer a:hover,div.aritcle100 a:hover{text-decoration:none}
div.container p,div.containerSmaller p{margin-bottom:12px;margin-top:17px}
div.articleContainer p{margin-bottom:5px;margin-top:2px}
div.nextJackpot button.orange,div.nextJackpot a.button.orange{bottom:29px;position:absolute;right:10px;text-transform:lowercase}
div.smallBanner.buyTickets p{padding-right:240px}
div.articleContainer{width:274px;height:154px;padding:10px 15px}
div.articleContainer img{position:absolute;top:0;right:0}
div.articleContainer p img{position:relative;padding:5px}
div.articleContainer h2,div.smallArticleContainer h2,div.aritcle100 h2{color:#5b5b5b;font-size:.9em;font-family:Arial,Tahoma;margin-bottom:0;width:240px}
div.articleContainer p{line-height:18px;font-size:.75em}
div.smallArticleContainer{width:196px;height:154px}
div.articleContainer a{padding-left:0}

p{line-height:18px;font-size:.75em;margin-bottom:10px}
div.smallBanner{padding:15px;width:430px;height:167px;float:left}
div.smallBanner2{padding:0;width:460px;height:197px;float:left}

section.footer{margin:5px 25px 0 0;display:inline-block;float:left;background:#FFF;background:0;background:0 color-stop(100%,#f3f1f2));background:0;background:0;background:0;background:linear-gradient(top,white0,#F3F1F2100%);border:1px solid #edeef2;width:936px}

.footer_wrapper_1{float:left;padding:15px 0 15px 20px;max-width:500px}
.footer_wrapper_2{float:right;padding:15px 15px 15px 0;width:320px}
.footer_wrapper_2 p{font-size:10px;font-family:Tahoma,Arial,sans-serif;color:#828282;line-height:135%}
.links_floated_footer{padding-bottom:0;font-size:10px;font-family:Tahoma,Arial,sans-serif}
.links_floated_footer a{font-size:10px;font-family:Tahoma,Arial,sans-serif;text-decoration:underline;color:#5780b5}
.links_floated_footer img{margin:0 2px}

.left{float:left}
.right{float:right}
.marginTop{margin-top:20px !important}
.marginBottom{margin-bottom:20px !important}
.center{text-align:center}


.links_floated_disclaimer{padding:0;font-size:9px;font-family:Tahoma,Arial,sans-serif;color:#666;line-height:10px}
div.colA{padding:10px;width:25%;float:left}
div.colB{padding:10px;width:35%;float:left}
div.colC{padding:10px;width:55%;float:right}
div.colD{padding:10px;width:35%;float:left}
div.colF{padding:10px 0;width:100%;float:left}
ul.articleLinkList li{margin:10px 0}
ul.articleLinkList li a{color:#0b639d;font-size:.8em;text-decoration:none}

article{width:607px;float:left;padding:10px}
aside{width:309px;height:auto;float:left;padding:10px 0 10px 10px}

div.medArticle{background:-moz-linear-gradient(top,white 0,#f3f1f2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#f3f1f2));background:-webkit-linear-gradient(top,white 0,#f3f1f2 100%);background:-o-linear-gradient(top,white 0,#f3f1f2 100%);background:-ms-linear-gradient(top,white 0,#f3f1f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f1f2',GradientType=0);background:linear-gradient(top,white 0,#f3f1f2 100%);border:1px solid #edeef2;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px;padding:15px;margin-bottom:5px;display:inline-block;margin:3px;width:275px}
div.medArticle a{font-size:1em}
div.medArticle button,div.medArticle a.button{margin-left:auto;margin-right:auto}
div.medArticle.thin{padding:3px;width:300px}
div.nextJackpot.smallContainer button,div.nextJackpot.smallContainer a.button{position:static}

table.lotteryList{width:100%}
table.lotteryList tr td.countryFlag{width:27px;position:relative;padding-left:3px}
table.lotteryList tr td.lotteryLogo{width:48px}
table.lotteryList tr td.lotteryName{width:103px}
table.lotteryList tr{position:relative;height:45px;background-repeat:repeat-x;border-bottom:1px dotted silver}
table.lotteryList tr td{font-size:.8em;margin:0 3px;vertical-align:middle}
table.lotteryList tr.red p{color:red;margin:0}
table.lotteryList tr.grey p{margin:0}
table td.lotteryName p{font-size:1em;margin:0 !important}

div.flag{top:0;left:0}

td.lotteryLogo{background-repeat:no-repeat;background-position:center center;width:35px;height:45px}
td.lotteryLogo.powerBall{background-image:url(../images/power_ball_logo_xs.png)}
td.lotteryLogo.megamillion{background-image:url(../images/megamillions_xs.png)}
td.lotteryLogo.superenalotto{background-image:url(../images/superenalotto_xs.png)}
td.lotteryLogo.megasena{background-image:url(../images/megasena_xs.png)}
td.lotteryLogo.elgordo{background-image:url(../images/gordo_xs.gif)}
td.lotteryLogo.ozlotto{background-image:url(../images/ozlotto_xs.png)}

strong{font-weight:700}
h2 a{font-size:.75em}

article{padding-left:0}
section.contentContainer{float:left;padding:15px;z-index:-1;width:96%;margin-bottom:10px;background:-moz-linear-gradient(top,white 0,#f3f1f2 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(100%,#f3f1f2));background:-webkit-linear-gradient(top,white 0,#f3f1f2 100%);background:-o-linear-gradient(top,white 0,#f3f1f2 100%);background:-ms-linear-gradient(top,white 0,#f3f1f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f3f1f2',GradientType=0);background:linear-gradient(top,white 0,#f3f1f2 100%);border:1px solid #edeef2;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px}

table.zebraTable{float:none;clear:both;color:#414141;font-family:"Trebuchet MS";font-size:.9em;line-height:16px}
table.zebraTable{margin:0;padding:0;font-size:11px;width:100%;margin-top:3px}
table.zebraTable tr td{width:211px;padding:5px 5px 5px 30px;font-size:1.2em;border-bottom:1px dotted silver}
table.zebraTable tr:nth-child(2n+2){background:#f6f6f6}
table.zebraTable tr.tableHead{background:#becbe0}
table.zebraTableSmall{float:none;clear:both;color:#414141;font-family:"Trebuchet MS";font-size:.9em;line-height:16px}
table.zebraTableSmall{margin:0 0 0 80px;padding:0;font-size:11px;width:70%;margin-top:3px}
table.zebraTableSmall tr td{width:211px;padding:2px 2px 2px 30px;font-size:.9em;border-bottom:1px dotted silver}
table.zebraTableSmall tr:nth-child(2n+2){background:#f6f6f6}
table.zebraTableSmall tr.tableHead{background:#becbe0}

#breakDown{display:block;float:left}

section.resultsInfo{margin:0 0 10px;width:581px}
section.resultsInfo img{position:absolute;right:0;bottom:0;z-index:-1}
section.lightBlue{border:1px solid #edeef2;float:left;padding:5px 15px;z-index:-1;width:96%;margin-bottom:10px;background-color:#becbe0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:10px}
section.contentContainer h2{margin-bottom:10px}

div.contentContainer100{background-image:url(../images/content_container_bg.jpg);background-repeat:repeat-x;border:1px solid #edeef2;float:left;padding:15px;margin:3px;z-index:0;width:96%;background-position:center bottom;position:relative;display:inline;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;border-radius:7px}
div.contentContainer100 img{padding:10px}
div.contentContainer100 h4{font-weight:700}

p.title{line-height:25px}

#preamble{padding:0 270px 20px 0;height:190px;}
#preamble p{font-size:1.4em;line-height:1.1em}
#preamble img{position:absolute;right:0;padding:0 60px 0 5px}
#preamble h2 {overflow:hidden;}
.latestNews{display:block}
.latestNews img{padding:3px}

.item{display:block;height:60px;padding:5px;border-bottom:1px dotted silver}
.latestNews p{font-size:.7em;line-height:1em;margin-bottom:5px}
.latestNews p a{font-size:1em;line-height:1.2em}

div.columnWrapper{float:none;clear:both;height:auto;overflow:auto}

select{padding:5px;border:1px solid #f0f0f0}

div.ticketsCart span.label{width:75px;text-indent:12px}
div.ticketContainer div.number{background-image:url(../images/grey_gradient_button.jpg);background-repeat:repeat-x;color:#353535;cursor:pointer;float:left;font-family:Trebuchet MS;font-size:.8em;height:18px;margin:3px;text-align:center;width:18px;line-height:16px}
div.ticketContainer div.number:hover{background-image:url(../images/grey_gradient_button_hover.jpg);background-repeat:repeat-x}
ul.ticketMode li.active a{color:gray;background-color:#f2f2f2;font-weight:700;font-size:1em;border-top:1px solid #d8dbe2;border-left:1px solid #d8dbe2}

.flag{background-image:url(../images/flags.png);display:block;font-size:0;height:11px;width:16px;float:left;margin-top:5px;margin-left:10px}
.flag-au{background-position:-16px -11px}
.flag-br{background-position:-80px -22px}
.flag-es{background-position:-32px -55px}
.flag-it{background-position:-80px -88px}
.flag-la{background-position:-128px -99px}
.flag-ro{background-position:-96px -154px}
.flag-sv{background-position:0 -176px}
.flag-us{background-position:-144px -187px}

.skin-slidedeck {position:relative;padding:6px 5px;background:url(../images/slider/back.png) 0 0 #d7d7d7;border:0 solid #fff}
.skin-slidedeck dl.slidedeck{position:relative;width:100%;height:100%;margin:0;padding:0}
.skin-slidedeck dl.slidedeck>dd{position:relative;height:294px;margin:0;border-right:5px solid #d7d7d7;background:url(../images/slider/slides.png) bottom left #d7d7d7;overflow:hidden}
.skin-slidedeck dl.slidedeck>dt{position:relative;cursor:pointer;height:43px;line-height:38px;font-size:12px;font-weight:700;font-family:"Futura Bold",Arial,Helvetica,sans-serif;text-transform:uppercase;letter-spacing:1px;background:url(../images/slider/spines.png) top left #d7d7d7;color:#505050;margin:0;padding:0}
.skin-slidedeck dl.slidedeck dt.spine .index{margin-bottom:2px;font-size:24px;font-weight:400;font-family:Arial,Helvetica,sans-serif;color:#505050}
.skin-slidedeck dl.slidedeck dt.spine.active .index{margin-bottom:0}
.skin-slidedeck dl.slidedeck dt.spine:hover .index{color:#000}
.skin-slidedeck dl.slidedeck dt.spine.active .index{color:#fff}
.skin-slidedeck dl.slidedeck dd.slide ul.slidesVertical>li{overflow:hidden;padding:10px}
.skin-slidedeck dl.slidedeck dd.slide ul.verticalSlideNav li.arrow{display:none}
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li.active a{background-position:0 -24px}
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav li.active a{background-position:0 -12px}
.skin-slidedeck h1 {position:absolute;top:210px; left:70px; background:none;color:#fff;padding:0;width: 220px;text-align:center;}
.skin-slidedeck h1 a {text-decoration:none;color:#fff;font-weight:bold;font-size:18px;}

#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left}
#facebox .popup{position:relative;border:3px solid rgba(0,0,0,0)}
#facebox .content{display:table;width:370px;padding:10px;background:#fff}
#facebox .content>p:first-child{margin-top:0}
#facebox .content>p:last-child{margin-bottom:0}
#facebox .close{position:absolute;top:5px;right:5px;padding:2px;background:#fff}
#facebox .loading{text-align:center}
#facebox .image{text-align:center}
#facebox img{border:0;margin:0}
#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}
.facebox_hide{z-index:-100}
.facebox_overlayBG{background-color:#000;z-index:99}
.fb-like-box{float:right;width:190px}

.medArticle .fb-like-box{float:left}
table.fillintable label.error{color:red}

#tooltip{position:absolute;z-index:3000;border:2px solid #71a5ae;background-color:#eee;padding:5px;width:400px;color:#c50c4f}
#tooltip h3,#tooltip div{margin:0}

.flag-sprite{background-image:url(../images/flags_sprite.png);display:block;height:16px;width:22px;float:left;margin-left:10px}
.flag-sprite-en{background-position:0 -16px}
.flag-sprite-active-en{background-position:0 0}
.flag-sprite-en:hover{background-position:0 0}
.flag-sprite-es{background-position:0 16px}
.flag-sprite-active-es{background-position:0 32px}
.flag-sprite-es:hover{background-position:0 32px}
.flag-sprite-de{background-position:0 48px}
.flag-sprite-active-de{background-position:0 64px}
.flag-sprite-de:hover{background-position:0 64px}

.user{background-image:url(../images/icon_user.png);float:left;margin-left:0;height:16px;width:16px}

.pagination {display:block;width:100%;text-align:center;padding: 10px 0;}
.pagination a {display: inline-block;text-decoration:none;padding: 0 3px 0 3px}
.socialbar {height:20px;}
em {font-style:italic;}