<section>
    <div class="panel panel-default">
        <div *ngIf="status" class="panel-body">
            Language was updated correctly
        </div>
    </div>
    <form #editLanguageForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Language</label>
            <input type="text" #ccode="ngForm" ngControl="ccode" [(ngModel)]="language.ccode" class="form-control" required />
            <span *ngIf="!ccode.valid">The language name is required</span>
        </div>
        <div class="form-group">
            <label>Code</label>
            <input type="text" #defaultLocale="ngForm" ngControl="defaultLocale" [(ngModel)]="language.defaultLocale" class="form-control" required />
        </div>
        <div class="dropdown">
            <select #active="ngForm"  [(ngModel)]="language.active" >
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
        </div>
        <br/>
        <button type="submit" class="btn btn-default" [disabled]="!editLanguageForm.form.valid">Edit language</button>
    </form>
</section>
