
<div style="float: right">
    <button [routerLink]="['AddCategory']" class="btn btn-default" >Add Category</button>
</div>
<br>
<br>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Category</th>
            <th>Category Code</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#category of categories">
            <td>
                <label>{{category.categoryName}}</label>
            </td>
            <td>
                <label>{{category.categoryCode}}</label>
            </td>
            <td>
                <label>{{category.description}}</label>
            </td>
            <td>
               <a [routerLink]="['EditCategory', {id: category.id}]" style="cursor:pointer">edit</a>
            </td>
        </tr>
    </tbody>
</table>